/**
 * Placeholders & mixins
 */
%font-bold {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

%font-normal {
  font-family: $font-family-base;
  font-weight: normal;
}

%font-sans {
  font-family: $font-family-sans-serif;
}

%font-serif {
  font-family: $font-family-serif;
}

%text-light {
  opacity: $app-textlight-opacity;
  transition: opacity $app-transition;
}

%text-lightest {
  opacity: $app-textlightest-opacity;
  transition: opacity $app-transition;
}

%appLink--violet {
  color: $brand-primary;
  font-weight: bold;

  &:hover {
    color: $brand-primary;
  }
}

@mixin icon-font($symbol) {
  content: "#{$symbol}";
  font-family: "#{$icons-font-name}";
}

@mixin app-card () {
  padding: $spacer * 1.5;
  background: #FFFFFF;
  border-radius: $border-radius-base;
  box-shadow: $app-boxshadow;
}
