.appHeader {

  /**
   * Support link `<a class="navbar-link">`
   */
  &__support {
    font-weight: bold;

    .navbar-collapse & {
      display: none;
    }

    @media (max-width: $screen-xs) {
      display: none;

      .navbar-collapse & {
        padding-top: $spacer;
        display: block;
      }
    }
  }
}

/**
 * Navbar tweaks
 */
.navbar {
    margin-bottom: 0;

  /**
   * To contain the absolutely positinoed flyout menu
   */
  > .container {
    position: relative;
  }

  /**
   * Navbar links
   */
  &-link {
    &:hover {
      text-decoration: none;
    }
  }

  /**
   * Navbar header tweaks
   */
  &-header {
    transition: padding $app-transition;

    @media (min-width: $appHeader--spaced-breakpoint) {
      padding-top: ($navbar-height - $navbar-height--compact) / 2;
      padding-bottom: ($navbar-height - $navbar-height--compact) / 2;
    }

    .headroom--not-top & {
      padding-top: 0;
      padding-bottom: 0;
    }

    .navbar-btn {
      float: right;
    }
    .btn-default {
      margin-top: 7px;
      margin-bottom: 0;
      background: transparent;
    }
    .navbar-link {
      float: right;
      padding: 14px;
    }
  }

  /**
   * The navbar flyout menu
   */
  &-right {
    margin-top: $spacer;
    margin-bottom: $spacer;
    font-size: $font-size-h4;
    @extend %font-serif;
  }

  /**
   * The flyout menu container (this gets the `.in` class when uncollapsed)
   */
  &-collapse {
    background: white;
    // padding-bottom: $spacer;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 14px $app-boxshadow-blur $app-boxshadow-color;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      top: 100%;
      right: $spacer;
      min-width: 350px;
    }
  }

  /**
   * Links spacing
   */
  &-nav {
    > li > a {
      padding: $spacer;
    }
  }

  /**
   * Navbar toggle
   *
   * Custom svg icon and `Menu` text
   */
  &-toggle {
    line-height: 31px;
    margin: 0 0 0 $spacer;
    border: 0;
    // because the label `Menu`/`Close` changes, with `min-width`
    // the other links and buttons besides the toggle don't "jump"
    min-width: 96px;

    &-text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }

    .icon {
      position: relative;
      bottom: -6px;
      width: 27px;
      height: 21px;
    }

    .if-collapsed {
      display: none;
    }
    .if-uncollapsed {
      display: block;
    }

    &.collapsed {
      .if-collapsed {
        display: block;
      }
      .if-uncollapsed {
        display: none;
      }
    }
  }
}
