.appRequestquote {

  @media (min-width: $screen-lg-min) {
    background: $appBg--light;
  }

  /**
   * The column containing the form
   */
  &__col-form {
  }

  /**
   * The column containing the features and reviews lists
   */
  &__col-aside {
  }

  /**
   * Tweak the features list
   */
  .appSteps {
    margin-bottom: $spacer * 2;
  }

  /**
   * Tweak the features list
   */
  .appList--features {
    margin: $spacer 0;
    margin-bottom: -($spacer);
    text-align: center;
    font-size: 12px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: -($spacer * 2);
      li {
        display: inline-block;
      }
    }
    @media (min-width: $screen-md-min) {
      text-align: left;
      font-size: $font-size-base;
      margin: ($spacer * 2) 0 ($spacer * 3);
    }
    @media (min-width: $screen-lg-min) {
      font-size: 20px;
    }

    li {
      display: block;
      padding-top: $spacer / 2;
      padding-bottom: $spacer / 2;
      margin: 0;
    }
    .icon {
      margin-right: $spacer / 2;
    }
  }

  /**
   * Tweak the company reviews cards
   */
  .appCompany__review {
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
      padding: $spacer * 1.5;
      margin-bottom: $spacer;
    }

    @media (min-width: $screen-lg-min) {
      margin-bottom: $spacer * 2;
    }
  }
}
