.appExcerpt {
  margin-bottom: $grid-gutter-width;

  /**
   * Title `<h1>|<h3>`
   */
  &__title {
    @extend %text-light;
    font-size: 20px;

    .appExcerpt--big & {
      color: $text-color;
      font-size: $font-size-h3;
      @media (min-width: $screen-md-min) {
        font-size: $font-size-h1;
      }
    }

    > a {
      color: $text-color;
      &:hover {
        color: $link-color;
        text-decoration: none;
      }
    }
  }

  /**
   * Image wrapper `<a>`
   *
   * It keeps the set proportion
   */
  .appRatio__wrap {
    display: block;
    transition: box-shadow $app-transition;

    &:after {
      padding-bottom: $appExcerpt__imgwrap-proportion * 10%;

      .appExcerpt--big & {
        padding-bottom: $appExcerpt__imgwrap-proportion--big * 10%;
      }
    }

    &:hover {
      box-shadow: $app-boxshadow;
    }
  }

  /**
   * Content `<p>`
   */
  &__content {
    @extend %text-lightest;
    margin: $spacer 0;
  }

  /**
   * Link ('Read more')
   */
  &__link {
    padding: $spacer / 2;
    padding-left: 0; // @@rtl
  }
}
