.appSearch {
  background: #FFF;
  background: rgba(255,255,255,.7);

  @media (min-width: $screen-xs-min) {
    padding: $spacer;
    margin-bottom: $spacer;
    border-radius: $border-radius-large;
  }

  > .appSubtitle {
    margin-top: 0;
    @media (min-width: $screen-sm-min) {
      margin-top: $spacer;
    }
  }

  &__links {
    @extend %appLink--violet;
    margin-top: $spacer;
    border-top: $app-border;
    padding-top: $spacer / 2;

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }

    > a {
      display: inline-block;
      padding: ($spacer / 2) $spacer ($spacer / 2) 0; // @@rtl
      margin: 0 ($spacer / 2) 0 0;

      @media (min-width: $screen-sm-min) {
        padding: $spacer 0;
        margin: 0 0 0 ($spacer / 2); // @@rtl
        &:not(:last-child):after { // @@rtl
          content: ","
        }
      }
    }
  }

  .input-group {
    @media (max-width: $screen-xs) {
      display: block;

      &-btn {
        margin-top: $spacer / 1.5;
        display: inline-block;
        &:last-child > .btn {
          border-top-left-radius: $border-radius-large; // @@rtl
          border-bottom-left-radius: $border-radius-large; // @@rtl
        }
      }
      .form-control:first-child {
        border-top-right-radius: $border-radius-large; // @@rtl
        border-bottom-right-radius: $border-radius-large; // @@rtl
      }
    }
  }
}
