.content {
  /**
   * Content: Banner
   */
  &--banner {
    background-position-y: bottom !important;
    @media (min-width: $screen-sm-min) {
      text-align: center;

      .content__header {
        padding-top: $spacer * 3;
      }
    }
  }

  /**
   * Content: How it works
   */
  &--howItWorks {
    text-align: center;

    p {
      @extend %text-lightest;
    }
    .content__body > div:hover p {
      opacity: 1;
    }
  }

  /**
   * Content: Articles (blog's articles...)
   */
  &--articles {
    text-align: center;
  }

  /**
   * Content: Popular categories
   */
  &--popularCategories {
    text-align: center;

    a:not(.btn) {
      display: block;
      @extend %appLink--violet;

      &:hover {
        .img-responsive {
          box-shadow: $app-boxshadow;
        }
      }
    }

    .img-wrap {
      display: block;
      margin: ($spacer) ($spacer / 2);
    }
    .img-responsive {
      margin: 0 auto;
    }
  }

  /**
   * Content: Reviews
   */
  &--reviews {
    text-align: center;
  }

  /**
   * Content: Companies
   */
  &--companies {
    text-align: center;
  }

  /**
   * Content: Partners
   */
  &--partners {
    text-align: center;
  }

  /**
   * Content: Faq
   */
  &--faq {
    .content__header {
      text-align: center;
    }
  }

  /**
   * Content: Signup company
   */
  &--signup {
    text-align: center;

    p {
      max-width: $app-maxwidth-narrow;
      margin: 0 auto;
      padding: 0 $spacer;
    }

    .appBg--purples {
      color: #fff;
      padding: ($spacer * 5) $spacer;
    }
  }

  /**
   * Content: Fat message
   */
  &--fatMessage {
    text-align: center;
    p {
      font-size: $font-size-h4;
      max-width: $app-maxwidth-narrow;
      margin: ($spacer * 2) auto;
      padding: 0 $spacer;
    }

    .content__body {
      padding: ($spacer * 2) 0 ($spacer * 3);
    }
  }

  /**
   * Content: Categories
   */
  &--categories {
  }

  /**
   * Content: Create request
   */
  &--createRequest {
    text-align: center;
    margin-bottom: $spacer * 3;
    .content__body {
      max-width: $app-maxwidth-narrow;
      margin: 0 auto;
    }
    .form {
      margin: $spacer * 2 0;
    }
  }

  /**
   * Content: Support (phone / email)
   */
  &--support {
    text-align: center;
    .content__body {
    }

    .colMatchHeight {
      margin-top: $spacer * 3;
      margin-bottom: $spacer * 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  /**
   * Content: Blog index
   */
  &--blog {
    .content__footer {
      text-align: center;
    }
  }

  /**
   * Content: Blog article
   */
  &--blogArticle {
  }

  /**
   * Content: Company profile
   */
  &--company {
  }
}
