.appCompany {

  /**
   * Preview of a company
   */
  &__preview {
    padding-bottom: $spacer * 2;
  }

  /**
   * Review from a customer of a company
   */
  &__review {
    box-shadow: $app-boxshadow;
    background-color: $appBg--lightest;
    @extend .appCard;

    &-header {
    }
    &-name {
      font-weight: bold;
      font-size: $font-size-base;
      @extend %font-sans;
      margin-top: 0;
    }
    &-rating {
      float: right;
      margin-left: $spacer;
    }
    &-company {
    }
    &-content {
      @extend %text-lightest;
      font-size: 12px;
    }
  }

  /**
   * Card of a company
   */
  &__card {
    @include app-card();
    height: 100%;
    text-align: left;
    @media (min-width: $screen-md-max) {
      text-align: center;
    }

    // @@progressive-enhancement
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-img {
      display: none;

      @media (min-width: $screen-md-max) {
        display: block;
        margin: 0 auto;
      }
    }

    &-header {
      @media (min-width: $screen-md-max) {
        display: flex;
        flex-direction: column;
      }
    }

    &-title {
      margin: 0 ($spacer / 2) $spacer 0;
      @extend %font-sans;
      font-size: 20px;
      font-weight: bold;

      @media (min-width: $screen-md-max) {
        margin: ($spacer) 0;
        order: 1;
      }
    }

    &-rating {
      float: right;
      margin-left: $spacer;

      @media (min-width: $screen-md-max) {
        float: none;
        margin: 0 auto;
        order: 2;
      }
    }

    &-content {
      @extend %text-lightest;

      @media (min-width: $screen-md-max) {
        display: none;
      }
    }

    &-link {
      padding: $spacer;
      display: block;
      font-weight: bold;
      margin-left: -$spacer;
      @media (min-width: $screen-md-max) {
        margin: $spacer auto 0;
      }
    }
  }

  /**
   * Company signup page
   */
  &__signup {
    &.content__bg {
      @media (max-width: $screen-xs) {
        background-size: 576px;
      }
      &:before {
        display: none;
      }
    }
    > .container {
      // leave space to the banner image
      @media (min-width: $screen-md-min) {
        margin-top: 100px;
      }
    }
    &-colform {
      @media (max-width: $screen-xs) {
        background: $appBg--lightest;
        padding: 0;
      }
    }
    &-colreviews {
      display: none;

      @media (min-width: $screen-md-min) {
        display: block;
        margin-left: -8.4%; // -10%;
        padding-top: 15%;
      }

      .appCard + .appCard {
        margin-top: 10%;
      }
    }

    // reviews becomes a slider on sm and xs screens
    &-reviewsslider {
      margin-top: $spacer * 3;
      // on lg screen hide it and use it as a vertical spacer
      @media (min-width: $screen-md-min) {
        visibility: hidden;
        height: $spacer * 5;
        overflow: hidden;
      }

      .slick-slide {
        padding-right: $spacer * 1.5;
      }
      .appCompany__review {
        min-width: 200px;
        @media (min-width: $screen-sm-min) {
          min-width: 450px;
        }
      }
    }

    .appTitle {
      @media (max-width: $screen-md-max) {
        font-size: $font-size-h3;
      }
    }
  }
}
