.appPartners {
  &__item {
    display: inline-block;
    min-width: 168px;
    max-width: 100%;
    min-height: 56px;
    max-height: 100%;
    border: $app-border;
    background: #fff;
    margin: 0 ($spacer * 0.75);
    outline: none !important;

    &:first-child {
      margin-left: 0; // @@rtl
    }
    &:last-child {
      margin-right: 0; // @@rtl
    }

    .slick-slide & {
      min-width: 0;
    }
  }

  .slick-slide {
    margin: 0 ($spacer * 0.75);
  }
}
