.appBlog {

  /**
   * The `Filter by` link inside the main `Blog` header
   */
  &__linkfilter {
    @extend %font-sans;
    letter-spacing: 0;
    position: relative;
    top: -5px;
    font-size: $font-size-base;
    padding: ($spacer / 2) $spacer;
    margin-left: $spacer;

    @media (max-width: $screen-xs) {
      float: right;
      top: 1px;
    }
  }

  /**
   * Preview of a blog article
   */
  &__preview {
    height: 100%;
    padding: $spacer * 1.5;
    border: $app-border;
    border-radius: $border-radius-base;

    // @@progressive-enhancement
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      margin-bottom: $spacer * 2;
    }

    &-title {
      font-size: $font-size-h4;
    }
    &-content {
      margin: ($spacer * 2) 0;
      @extend %text-lightest;

      .appBlog__preview:hover & {
        opacity: 1;
      }
    }
    &-link {
      padding: $spacer;
      display: block;
    }
  }
}
