$appFooter-breakpoint: $screen-sm;

@mixin appFooter-breakpoint () {
  @media (min-width: $screen-sm) {
    @content;
  }
}

.appFooter {
  background: $appFooter-bg;
  color: $appFooter-color;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 4;

  /**
   * Footer logo tweaks
   */
  .appLogo {
    display: block;
    width: 128px;
    height: 34px;
    margin: 0;
    background-size: contain;
    margin: 0 $spacer $spacer;

    @include appFooter-breakpoint() {
      float: left;
      margin: 0 $spacer 0 0;
    }
    @media (min-width: $screen-lg) {
      margin-right: 13%;
    }
  }

  /**
   * Footer links list `<ul>`
   */
  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /**
   * Footer list item `<li>`
   */
  &__item {
    padding: 0;
    display: block;
    @include appFooter-breakpoint() {
      display: inline-block;
    }
  }

  /**
   * Footer link `<a>`
   */
  &__link {
    padding: ($spacer / 2) ($spacer);
    display: block;
    color: $appFooter-color;
    font-weight: bold;
    &:hover {
      color: $appFooter-color;
    }
  }

  /**
   * Footer copyright text `<div>`
   */
  &__copy {
    margin: $spacer 0 0 $spacer;
    font-size: $font-size-small;
    opacity: .6;
    @media (min-width: $screen-sm) {
      margin-left: 0;
    }
    @include appFooter-breakpoint() {
      margin-top: $spacer;
    }
  }
}
