$appRatio-proportion-base: 100% !default;
$appRatio-image-bg-color: #eee !default;
$appRatio-border-radius: 3px !default;

/**
 * Ratio: to keep image proportioned
 */
.appRatio {
  /**
   * Ratio wrapper (usually a `<div>`)
   */
  &__wrap {
    position: relative;
    overflow: hidden;
    @if $appRatio-border-radius {
      border-radius: $appRatio-border-radius;
    }

    &:after {
      content: "";
      padding-bottom: $appRatio-proportion-base;
      background-color: $appRatio-image-bg-color;
      display: block;
    }
  }

  /**
   * Ratio inner (usually an `<img>`)
   */
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
