/**
 * Expandable module
 */
.appExpandable {
  // border-bottom: 1px solid #eee;
  // &:last-child {
  //   border-bottom: 0;
  // }

  // &__list {
  //   @extend .list-unstyled;
  //   margin: 0;
  // }

  &__header {
    cursor: pointer;
    padding: ($spacer / 2) 0;
  }

  &__heading {
    margin: 0;
  }

  &__body {
    margin-left: ($spacer / 2) + ($spacer * 2);
    > p:last-child {
      margin-bottom: $spacer;
    }
  }

  &__toggle {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: $spacer / 2;
    background-color: transparent;
    border: 0;
    // color: $TA-accent;
    text-align: center;
    font-size: 28px;
    // transform: rotate(45deg);
    // transition: transform .18s ease-in-out;
    transform-origin: center;

    .if-open {
      display: none;
    }
    .if-closed {
      display: block;
    }

    [aria-expanded="true"] > & {
      // transform: rotate(90deg);

      .if-open {
        display: block;
      }
      .if-closed {
        display: none;
      }
    }

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    // > .icon:before {
    //   // content: $icon_keyboard_arrow_right;
    // }
  }
}
