$page__header-bottom: 75px;
$page__header-bottom--sm: 200px;
$page__header-bottom--md: 80px;
$page__header-bottom--lg: 150px;

.page {

  /**
   * Page header with background image
   *
   * The content background in its dark version needs to
   * add `page--light` class on `<body>`
   */
  &__header {
    padding-top: $navbar-height--compact;
    background-repeat: no-repeat;
    background-size: auto 230px;
    background-position: top left;
    padding-bottom: $page__header-bottom;

    @media (min-width: $screen-sm-min) {
      padding-top: $navbar-height;
      padding-bottom: $page__header-bottom--sm;
      background-size: auto 350px;
    }
    @media (min-width: $screen-md-min) {
      padding-bottom: $page__header-bottom--md;
      background-size: 100% auto;
    }
    @media (min-width: $screen-lg-min) {
      padding-bottom: $page__header-bottom--lg;
    }

    &-overlap {
      margin-top: -($page__header-bottom);

      @media (min-width: $screen-sm-min) {
        margin-top: -($page__header-bottom--sm);
      }
      @media (min-width: $screen-md-min) {
        margin-top: -($page__header-bottom--md);
      }
      @media (min-width: $screen-lg-min) {
        margin-top: -($page__header-bottom--lg);
      }
    }

    .appTitle {
      margin-bottom: $spacer;
    }
  }

  /**
   * Specific page: `index.html`
   */
  &--home {
    // fade also the bottom on the home page, just on md screens
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20%;
        background: linear-gradient(rgba(255,255,255,0) 0%, $appBg--light 100%);
      }
    }
  }

  /**
   * Specific page: `product.html`
   */
  &--product {
    .appSearch {
      @media (min-width: $screen-sm-min) {
        padding-top: 1px;
      }
      .appList--features {
        text-align: center;
        @media (max-width: $screen-xs) {
          display: none;
        }
      }
    }

    .content--banner .content__header {
      @media (min-width: $screen-sm-min) {
        padding-top: $spacer * 4;
      }
    }
    .content--banner .content__body {
      margin-top: $spacer;
      @media (min-width: $screen-sm-min) {
        padding-bottom: $spacer * 4;
      }
    }
  }

  /**
   * Specific page: `company-signup.html`
   */
  &--company-signup {
    .appHeader {
      background: $navbar-default-bg--pinned !important;
    }
  }

  /**
   * Specific page: `request-quote--1.html`, `request-quote--2.html`
   */
  &--requestquote {
    .page__header,
    .appRequestquote {
      background-color: $appBg--light;
      @media (min-width: $screen-md-min) {
        background-color: $appBg--lightest;
      }
      @media (min-width: $screen-lg-min) {
        background-color: $appBg--light;
      }
    }
  }

  /**
   * Type of page: Light
   *
   * With background image and white text in the "header"
   *
   * e.g. for `request-quote--1.html`, `request-quote--2.html`
   */
  &--light {
    .headroom--top .navbar-header .navbar-link,
    .no-js & .navbar-header .navbar-link,
    .headroom--top .navbar-toggle,
    .no-js & .navbar-toggle,
    .page__header,
    .page__title {
      color: #fff;
    }

    .headroom--top .appLogo.navbar-brand,
    .no-js & .appLogo.navbar-brand {
      @extend .appLogo--white;
    }

    /**
     * Tweak the main title size
     */
    .appTitle {
      font-size: $font-size-h4;

      @media (min-width: $screen-xs-min) {
        font-size: $font-size-h3;
      }

      @media (min-width: $screen-lg-min) {
        font-size: $font-size-h1;
      }
    }
  }
}
