/**
 * A blog article
 */
.appArticle {
  @media (min-width: $screen-xs-min) {
    padding: 0 $appArticle-offset-sm;
  }
  @media (min-width: $screen-lg-min) {
    padding: 0 $appArticle-offset-lg;
  }

  /**
   * Article title is fullwidth as the images
   */
  > h1:first-child {
    @media (min-width: $screen-xs-min) {
      margin-left: -$appArticle-offset-sm;
      width: calc(100% + #{$appArticle-offset-sm * 2});
    }
    @media (min-width: $screen-lg-min) {
      margin-left: -$appArticle-offset-lg;
      width: calc(100% + #{$appArticle-offset-lg * 2});
      max-width: 90%;
      margin: 0 auto;
    }
    @media (max-width: $screen-sm-max) {
      font-size: $font-size-h3;
    }
  }

  /**
   * Article images are fullwidth
   */
  .img-responsive {
    margin-top: $spacer;
    margin-bottom: $spacer * 2;

    @media (min-width: $screen-xs-min) {
      margin-top: $spacer * 3;
      margin-bottom: $spacer * 3;
      margin-left: -$appArticle-offset-sm;
      width: calc(100% + #{$appArticle-offset-sm * 2});
      max-width: none;
    }
    @media (min-width: $screen-lg-min) {
      margin-left: -$appArticle-offset-lg;
      width: calc(100% + #{$appArticle-offset-lg * 2});
    }
  }
  @media (max-width: $screen-xs) {
    h1 + .img-responsive {
      margin-top: $spacer * 2;
      margin-left: -($grid-gutter-width / 2);
      width: 108%;
      width: calc(100% + #{$grid-gutter-width});
      max-width: none;
    }
  }

  /**
   * Increa paragraph spacing
   */
  p {
    margin-bottom: $spacer * 2;
  }

  img {
    background-color: $appArticle__img-bg-color;
  }

  // usually `<p>`
  .text-display {
    margin-top: $spacer;
    font-size: 20px;
    @extend %text-light;
  }

  ol.list-unstyled {
    @media (min-width: $screen-lg-min) {
      margin: 0 ($spacer * 3);
    }
  }

  h6 {
    font-weight: 900;
  }
}
