.appCard {
  border-radius: $border-radius-base;
  padding: $spacer;
  @media (min-width: $screen-xs-min) {
    padding: $spacer * 2;
  }

  &--shadow {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.25);
  }
}
