.appBg {

  &--lightest {
    background-color: $appBg--lightest;

    + .appBg--lightest {
       &.content > .container {
        border-top: $app-border;
      }
    }
  }

  &--light {
    background-color: $appBg--light;

    &--sm {
      @media (max-width: $screen-sm-max) {
        background-color: $appBg--light;
      }
    }
  }

  &--purples {
    background-color: $appBg--purple;
    background: url(../images/bg-company-signup.svg);
    background-size: cover;
  }
}
