.appCategory {

  &__rowtitle {
  }

  &__rowlinks {
    margin-top: $spacer;
    margin-bottom: $spacer * 2;

    // this pseudo element is also used by bootstrap v3
    // clear grid system
    &:not(:last-child):after {
      content: "";
      position: relative;
      width: 94%;
      left: $spacer;
      padding-top: $spacer * 2;
      // margin-right: $spacer;
      border-bottom: $app-border;
    }
  }

  &__link {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: $brand-primary;
    padding: $spacer / 4 0;
  }
}
