$appSlider-arrow-size: 40px;

.appSlider {

  /**
   * Main slider (combined with thumbnails)
   */
  &__main {
    .slick-slide {
      cursor: move;
      cursor: -webkit-grab;
    }
  }

  /**
   * Thumbnails slider (combined with thumbnails)
   */
  &__thumbs {
    .slick-slide:not(.slick-disabled) {
      cursor: pointer;
    }

    .slick-slide {
      padding-right: $spacer;
      opacity: .4;
      transition: opacity $app-transition;

      &:last-child {
        padding-right: 0;
      }
    }
    .slick-current {
      opacity: 1;
    }
  }

  /**
   * Arrows row
   */
  &__arrows {
    text-align: center;
    font-size: $appSlider-arrow-size;
    @extend %text-lightest;

    > .icon {
      opacity: .8;

      &:hover {
        opacity: 1;
      }
      &.slick-disabled {
        opacity: .1;
        cursor: default;
      }
    }
  }

  /**
   * Prev arrow
   */
  &__prev {
    cursor: pointer;
    margin-right: $spacer;
  }

  /**
   * Next arrow
   */
  &__next {
    cursor: pointer;
    margin-left: $spacer;
  }

  /**
   * Counter (custom implementation, see `slider.js`)
   * It should be a `<span>`
   */
  &__counter {
    font-size: $font-size-small;
    line-height: $appSlider-arrow-size;
    vertical-align: text-top;
  }
}
