.content {

  // for `.navbar-fixed-top`
  .appMain > &:first-child {
    padding-top: $navbar-height--compact;
    @media (min-width: $appHeader--spaced-breakpoint) {
      padding-top: $navbar-height;
    }
  }

  /**
   * Content automatic vertical spacing
   */
  > .container:first-child,
  > .container-fluid:first-child {
    padding-top: $spacer * 3;
    @media (min-width: $screen-lg-min) {
      padding-top: $spacer * 4;
    }
  }
  > .container:last-child,
  > .container-fluid:last-child {
    padding-bottom: $spacer * 3;
    @media (min-width: $screen-lg-min) {
      padding-bottom: $spacer * 4;
    }
  }
  > .container:first-child:last-child,
  > .container-fluid:first-child:last-child {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    @media (min-width: $screen-sm-min) {
      padding-top: $spacer * 3;
      padding-bottom: $spacer * 3;
    }
    @media (min-width: $screen-lg-min) {
      padding-top: $spacer * 4;
      padding-bottom: $spacer * 4;
    }
  }

  // decrease the top padding when we have a page header,
  // e.g. in the `request-quote--1.html` template
  .page__header + & > .container:first-child:last-child,
  .page__header + & > .container-fluid:first-child:last-child {
    padding-top: $spacer;
  }

  /**
   * Tweak titles spacing
   */
  .appTitle {
    margin-top: 0;

    + .row {
      margin-top: $spacer * 3; // @@todo
    }
  }
  .appSmalltitle {
    margin-top: 0;

    + .appTitle {
      margin-top: $spacer;
    }
  }

  /**
   * Content header
   */
  &__header {
    // give some space to the bottom if there is only a title
    .appTitle:first-child:last-child {
      margin-bottom: $spacer;
    }
  }

  /**
   * Content body
   */
  &__body {
    margin-top: $spacer;
    @media (min-width: $screen-md-min) {
      margin-top: ($spacer * 3);
    }
  }

  /**
   * Content footer
   */
  &__footer {
    margin-top: $spacer;
    @media (min-width: $screen-md-min) {
      margin-top: ($spacer * 3);
    }
  }

  /**
   * Content full background
   */
  &__bg {
    background-repeat: no-repeat;
    background-position: center $navbar-height--compact;
    background-size: contain;
    background-size: cover;

    @media (max-width: $screen-xs) {
      &:not(.content__bg--xs) {
        background-image: none !important;
      }
    }
    @media (min-width: $screen-sm-min) {
      position: relative;
      background-position: center $navbar-height;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 20%;
        background: linear-gradient($appBg--light 0%, rgba(255,255,255,0) 100%);
      }
      > .container {
        position: relative;
        z-index: 1;
      }
    }

    // make space for the image on xs screens
    &--xs {
      @media (max-width: $screen-xs) {
        padding-top: 100px !important;
      }
    }
  }

  /**
   * Content plain text/html, probably coming from the server
   */
  &__plain {

    h1 {
      @media (max-width: $screen-sm-max) {
        font-size: $font-size-h3;
      }
    }

    h1,
    h2,
    h3, {
      margin-bottom: $spacer * 2;
      &:first-child {
        margin-top: 0;
      }
    }

    p,
    ul {
      opacity: .8;
      line-height: 24px;
      margin: ($spacer) 0 ($spacer * 2);
    }
    ul > li {
      margin: $spacer 0;
    }

    .font-size-h4 p {
      margin-top: $spacer / 2;
      opacity: 1;
    }

    &--lighttext {
      p,
      ul {
        opacity: .6;
      }
    }
  }

  /**
   * Content bordered
   */
  &--bordered {
    > .container {
      border-bottom: $app-border;
    }
  }
}
