.appLogo {
  @include text-hide();
  width: $appLogo-width;
  height: $appLogo-height;
  background: url(../images/logo-color.svg) no-repeat center center;
  padding: 0;

  &--white {
    background: url(../images/logo-white.svg) no-repeat center center;
  }

  &.navbar-brand {
    background-position: $spacer center;
    height: $navbar-height--compact;
  }
}
