.appFaq {
  &__list {
    @extend .list-unstyled;
  }

  h4 {
    font-size: 20px;
  }
  &__item {
    padding: $spacer 0;

    p {
      @extend %text-lightest;
    }

    &:hover p {
      opacity: 1;
    }
  }
}
