.appSteps {

  /**
   * Step list `<ul>`
   */
  &__list {
    @extend .list-unstyled;
    @include make-row(0);

    @media (max-width: $screen-xs-max) {
      margin: 0;
      border-bottom: $app-border;

      .appSteps__item {
        padding-left: 0;
      }
    }
  }

  /**
   * Step list item `<li>`
   */
  &__li {
    float: left;
    @include make-sm-column(6, 0);
  }

  /**
   * Step link `<a>|<span>`
   */
  &__item {
    display: block;
    padding: ($spacer / 2) $spacer ($spacer / 2) 0;
    color: $text-color;
    @media (min-width: $screen-sm-min) {
      border-bottom: $app-border;
    }

    .icon {
      margin-right: $spacer / 2.5;
      color: transparent;
      border: $app-border;
      border-radius: 100%;
      font-size: 14px;
      width: 14px;
      height: 14px;
      padding: 1px;
    }

    &.done .icon,
    &.current .icon {
      background: $link-color;
      border-color: $link-color;
    }

    &.done .icon {
      color: #fff;
    }

    &.current,
    &.done {
      color: $link-color;
      @media (min-width: $screen-sm-min) {
        border-bottom-color: $link-color;
      }
    }
  }
}
