.appList {
  &--features {
    @extend .list-unstyled;
    @extend .list-inline;
    font-weight: bold;
    font-size: $font-size-small;

    .icon {
      position: relative;
      bottom: -2px;
      margin-right: $spacer / 4;
      color: $brand-primary;
    }

    > li {
      margin: 0 $spacer / 2;
      &:first-child {
        margin-left: 0; // @@rtl
      }
      &:last-child {
        margin-right: 0; // @@rtl
      }
    }

    /**
     * Weird positioning on different breakpoints...
     */
    .page--home & {
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
        padding-bottom: $spacer * 6;
      }
      @media (min-width: $screen-md-min) {
        margin-top: 150px;
        margin-bottom: -($spacer * 2.5);
        padding-bottom: 0;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: 0;
        margin-bottom: -($spacer * 2.5);
        padding-bottom: $spacer * 12;
      }
    }

    .page--product & {
      margin-top: $spacer;
    }
  }
}
