.appProfile {
  .appSmalltitle {
    margin-bottom: $spacer * 1.5;
  }

  /**
   * Profile: Title
   */
  &__title {
  }

  /**
   * Profile: Meta
   */
  &__meta {
    padding: ($spacer) 0 ($spacer * 1.5);

    > span {
      // display: inline-block;
      margin-right: $spacer * 2;

      &:last-child {
        margin-right: 0;
      }
    }

    /**
     * Profile: Meta since
     */
    &-since {
    }

    /**
     * Profile: Meta where
     */
    &-where {
    }
  }

  /**
   * Profile: Rating
   */
  &__rating {
  }

  /**
   * Profile: About
   */
  &__about {
    margin-top: $spacer * 2;
  }

  /**
   * Profile: Contact
   */
  &__contact {
    margin-top: $spacer * 2;

    > div {
      // min-height: 50px;
      padding: ($spacer / 1.5) 0;
      border-bottom: $app-border;

      &:first-of-type {
        border-top: $app-border;
        margin-top: $spacer * 2;
      }

      > strong {
        float: right;
        display: block;
      }
    }

    a {
      padding: $spacer 0;
    }

    /**
     * Profile: Contact phone
     */
    &-phone {
    }

    /**
     * Profile: Contact email
     */
    &-email {
    }

    /**
     * Profile: Contact website
     */
    &-website {
    }
  }

  /**
   * Profile: Review
   */
  &__review {
    margin-top: $spacer * 2;
  }

  /**
   * Profile: Slider
   */
  &__slider-main {
  }

  /**
   * Profile: Slider
   */
  .appSlider {
    @media (max-width: $screen-xs-max) {
      margin-top: $spacer * 2;
      margin-left: -($grid-gutter-width / 2);
      margin-right: -($grid-gutter-width / 2);
    }

    /**
     * Profile: Slider main
     */
    &__main {
      @media (max-width: $screen-xs-max) {
        .appRatio__wrap:after {
          padding-bottom: 6.8 * 10%;
        }
      }
    }

    /**
     * Profile: Slider thumbnails
     */
    &__thumbs {
      .slick-current {
        .appRatio__wrap {
          border: 1px solid $brand-primary;
        }
      }
    }
  }
}
