.appReview {
  @include app-card();
  text-align: left; // @@rtl

  /**
   * Review: heading
   */
  &__heading {
  }

  /**
   * Review: revieweer name
   */
  &__name {
    margin-top: 0;
    font-weight: bold;
    font-size: $font-size-h4;
    @extend %font-sans;
    @include text-overflow();
  }

  /**
   * Review: rating
   */
  &__rating {
    float: right;
    margin-left: $spacer;
  }

  /**
   * Review: content
   */
  &__content {
    @extend %text-lightest;
    margin: ($spacer * 2) 0;

    .appReview:hover & {
      opacity: 1;
    }
  }
}

/**
 * Review: slider tweaks
 */
.content--reviews {
  .appSlider__arrows {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}
