/**
 * Theme: neutral
 */
$app-boxshadow-blur: 14px;
$app-boxshadow-color: rgba(0,0,0,0.10);
$app-boxshadow: 0 2px $app-boxshadow-blur 0 $app-boxshadow-color;
$app-border-color: #CFCCCE;
$app-border: 1px solid $app-border-color;
$app-transition-time: .18s;
$app-transition: $app-transition-time ease-in-out;
$app-textlight-opacity: .8;
$app-textlightest-opacity: .6;
$primary: #AD4B81; // @@bootstrap-v4
$appFooter-bg: #1C1B1B;
$appFooter-color: #FFF;
$appBg--light: #F7F7F7;
$appBg--lightest: #FFF;
$appBg--purple: #A24074;
$navbar-default-bg--pinned: #fff;
$input-bg--onwhite: #FAF9FA;

// Bootstrap variables
$brand-primary: $primary;
$brand-warning: #FFCE52;
$brand-danger: #F74A4A;
$brand-success: #45D692;
$body-bg: #FFFFFF;
$text-color: #1C1B1B;
$text-muted: #5C5C5C;
$link-color: $primary;
$btn-default-color: $primary;
$btn-default-bg: #fff;
$btn-default-border: $primary;
$navbar-default-color: $text-color;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;
$navbar-default-link-color: $text-color;
$navbar-default-link-hover-color: $link-color;
$btn-warning-color: $text-color;
$btn-warning-bg: $brand-warning;
$table-bg-accent: #F8F8F8;
$table-bg-hover: darken($table-bg-accent, 3%);
$table-border-color: #F8F8F8;
$input-border-focus: $text-color;

// Bootstrap like made up variables
$input-bg-focus: #fff;
$input-color-focus: $text-color;
