/**
 * Bootstrap v3 custom $variables
 * Override default values and then import them.
 *
 */
$spacer: 16px; // Bootstrap v4 like
$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: 'Barlow', #{$font-family-sans-serif}; // , Georgia, "Times New Roman", Times, serif;
$font-size-base: $spacer;
$headings-font-weight: 300;
$headings-font-family: $font-family-serif;
$font-size-h1: floor(($font-size-base * 3.25)); // ~52px
$font-size-h2: floor(($font-size-base * 2.375)); // ~38px
$font-size-h3: ceil(($font-size-base * 2)); // ~32px
$font-size-h4: ceil(($font-size-base * 1.375)); // ~22px
$font-size-h5: ceil(($font-size-base * 1.125)); // ~18px
$font-size-h6: $font-size-base;
$grid-float-breakpoint: 10000px;
$grid-gutter-width: $spacer * 2;
$input-height-base: 50px;
$padding-base-vertical: 8px;
$padding-base-horizontal: $spacer * 2; // originally: 12px
$padding-large-vertical: 14px; // originally: 10px
$padding-large-horizontal: $spacer * 3.5; // originally: 16px
$padding-small-horizontal: $spacer; // originally: 10px
$padding-xs-horizontal: $spacer / 2; // originally: 5px
$navbar-height: 100px;
$table-cell-padding: 10px;
$table-condensed-cell-padding: $spacer / 2;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Bootstrap like made up variables
$navbar-height--compact: 50px;
$input-padding-base-horizontal: 12px; // made up
$custom-control-indicator-box-shadow--measures: inset 0 0 0 2px;

/**
 * Bootstrap v4 custom $variables
 * In a kind of backward compatible way
 *
 */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
$border-radius: 4px !default; // backward compatible way
$font-size-base--rem: 1rem !default; // backward compatible way
$font-size-lg--rem: ($font-size-base--rem * 1.25) !default; // backward compatible way
$font-size-sm--rem: ($font-size-base--rem * .875) !default; // backward compatible way

$custom-control-gutter: $spacer * 1.5;
$custom-control-spacer-y: $spacer / 4;
$custom-control-spacer-x: $spacer;
$custom-control-indicator-size: $spacer;
$custom-checkbox-indicator-border-radius: 0px;
$custom-select-padding-y: $spacer / 3;
$custom-select-padding-x: $spacer;
// $custom-select-height: $input-height;
$custom-select-indicator-padding: $spacer;
$custom-checkbox-indicator-border-radius: 2px;
$custom-control-indicator-bg: #fff; // transparent
$custom-control-indicator-box-shadow: $custom-control-indicator-box-shadow--measures $text-color; // none;
$custom-control-indicator-checked-bg: $brand-primary;
$custom-control-indicator-checked-color: #fff;
$custom-control-indicator-checked-box-shadow: $custom-control-indicator-box-shadow--measures $brand-primary;
$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M23.6 3.067c-0.533-0.533-1.333-0.533-1.867 0l-13.733 13.733-5.733-5.733c-0.533-0.533-1.333-0.533-1.867 0s-0.533 1.333 0 1.867l6.667 6.667c0.267 0.267 0.533 0.4 0.933 0.4s0.667-0.133 0.933-0.4l14.667-14.667c0.533-0.533 0.533-1.333 0-1.867z'/%3E%3C/svg%3E"), "#", "%23");
$custom-radio-indicator-icon-checked: none;
$custom-radio-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='1.5' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23");

@import "config.variables.v4";


/**
 * App $variables (theme indipendent)
 *
 */
$appLogo-width: 177px;
$appLogo-height: 50px;
$appHeader--spaced-breakpoint: $screen-sm-min;
$app-maxwidth-narrow: 540px;
$appArticle-offset-sm: 80px;
$appArticle-offset-lg: 150px;
$appArticle__img-bg-color: #E4F1FD;
$appExcerpt__imgwrap-proportion: 6.870229008;
$appExcerpt__imgwrap-proportion--big: 8.27027027;
$appRatio-proportion-base: 100%;
$appRatio-image-bg-color: $appArticle__img-bg-color;
$appRatio-border-radius: $border-radius-base;
