/**
 * Fonts / typography
 */
.font-sans {
  @extend %font-sans;
}
.font-serif {
  @extend %font-serif;
}
.font-size-h4 {
  font-size: $font-size-h4;
}
.text-light {
  @extend %text-light;
}
.text-lightest {
  @extend %text-lightest;
}

/**
 * Links
 */
.appLink {
  &--violet {
    @extend %appLink--violet;
  }
}

/**
 * Linkback
 *
 * e.g. The `View all` link on top in the `blog.html`
 * or the `Back` link in the `company-profile.html`
 */
.appLinkback {
  display: block;
  padding: $spacer 0;
  font-weight: bold;

  @media (max-width: $screen-sm-max) {
    font-weight: normal;
    color: $text-muted;
  }

  .content > .container > &:first-child {
    margin-top: -$spacer;
    @media (min-width: $screen-sm-min) {
      margin-top: -($spacer * 2);
    }
  }
}

/**
 * Typography: title
 */
.appTitle {
  letter-spacing: -0.92px;

  + .appSubtitle {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
    @extend %text-light;
  }
}
h1.appTitle {
  @media (max-width: $screen-xs) {
    font-size: $font-size-h3;
  }
}
h2.appTitle {
  font-size: $font-size-h3;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }
  @media (min-width: $screen-lg-min) {
    font-size: $font-size-h1;
  }
}
h3.appTitle {
  font-size: $font-size-h4;
  @media (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
}
.appSubtitle {
  @media (max-width: $screen-xs) {
    font-size: $font-size-base;
  }
}

/**
 * Typography: small title
 */
.appSmalltitle {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
}
