.headroom {
  animation-duration: $app-transition-time;
  animation-fill-mode: both;
  transition: background $app-transition, box-shadow $app-transition, min-height $app-transition;
  will-change: transform, opacity, background, box-shadow, min-height;

  &--pinned {
    animation-name: slideDown;
  }

  &--unpinned {
    animation-name: slideUp;

    &.headroom--not-top {
      box-shadow: none;
    }
  }

  &--top {
    min-height: $navbar-height--compact;
    @media (min-width: $screen-sm-min) {
      min-height: $navbar-height;
    }
  }

  &--not-top {
    min-height: $navbar-height--compact;
    background: $navbar-default-bg--pinned;
    box-shadow: 0 4px $app-boxshadow-blur $app-boxshadow-color;
  }
}
