body {
  // overflow-y: scroll;
  overflow-x: hidden;
}

textarea {
  resize: vertical;
}

/**
 * Buttons
 */
.btn {
  &-default {
    &:hover,
    &:active,
    &:active:hover,
    &:focus {
      background-color: $btn-default-color !important;
      color: #fff;
    }
  }

  &-lg {
    max-width: 100%;
  }

  &-wide {
    max-width: 100%;
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
  }

  &-block-xs {
    @media (max-width: $screen-xs) {
      display: block;
      width: 100%;
    }
  }

  // this might be relative only to the module `.appSearch`,
  // don't know yet...
  .input-group-lg > .input-group-btn > & {
    font-size: $font-size-base;
    font-weight: bold;
  }
}

/**
 * Icons in links
 */
a > .icon {
  width: .7em;
  height: .7em;
  position: relative;
  bottom: -1px;
}

/**
 * Tables
 */
.table {
  th {
    background: $table-bg-accent;
    border-bottom-width: 1px !important;
  }

  td {
    border: 1px solid $table-border-color !important;
  }
}

/**
 * Forms spacing
 */
.form-group,
.form-row-radios,
.form-row-checkboxes {
  margin-bottom: $spacer * 1.5;
}
.form-row-radios .form-group,
.form-row-checkboxes .form-group {
  margin-bottom: 0;
}
.form-group {
  label {
    margin-bottom: $spacer / 2;
  }
  > .custom-control:first-child {
    margin-top: $spacer;
  }

  // target the submit button here
  > .btn:first-child:last-child {
    margin-top: $spacer * 2;
  }
}

/**
 * Differ padding of inputs from that on buttons, in v3 they share the same
 * variable to determine it
 */
.form-control {
  padding-left: $input-padding-base-horizontal;
  padding-right: $input-padding-base-horizontal;

  .input-group-lg > & {
    padding-left: $spacer;
    padding-right: $spacer;
  }

  .appBg--light & {
    border-color: $input-bg;
    box-shadow: none;
  }

  .appBg--lightest & {
    border-color: $input-bg--onwhite;
    background: $input-bg--onwhite;
    box-shadow: none;
  }

  &:focus {
    background: $input-bg-focus;
    color: $input-color-focus;
    border-color: $input-border-focus;
    box-shadow: none !important;
  }
  .has-feedback & {
    background: $input-bg-focus;
  }

  &-feedback  {
    // hide all feedback icons by default
    .icon {
      display: none;
    }
    // reposition svg feedback icons
    .has-feedback label ~ &,
    .has-feedback .custom-control-label ~ & {
      top: 30px;
    }
  }
}

.has {
  /**
   * Has success
   */
  &-success .form-control {
    border-color: $brand-success;
  }
  &-success .form-control-feedback {
    color: $brand-success;
    & .icon-success {
      display: inline-block;
    }
  }
  &-success .help-block {
    color: $text-muted;
  }
  &-success .help-feedback {
    color: $brand-success;
  }
  /**
   * Has warning
   */
  &-warning .form-control {
    border-color: $brand-warning;
  }
  &-warning .form-control-feedback, {
    color: $brand-warning;
    & .icon-warning {
      display: inline-block;
    }
  }
  /**
   * Has error
   */
  &-error .form-control {
    border-color: $brand-danger;
  }
  &-error .form-control-feedback {
    color: $brand-danger;
    & .icon-error {
      display: inline-block;
    }
  }
  &-error .help-block {
    color: $text-muted;
  }
  &-error .help-feedback {
    color: $brand-danger;
  }
}

/**
 * Customize help block styling
 */
.help-block {
  font-size: $font-size-small;
  color: $text-muted;
  padding-left: $input-padding-base-horizontal;

  .input-lg ~ & {
    padding-left: $spacer;
  }

  > a,
  > .btn-link {
    font-weight: bold;
    padding: 0;
    vertical-align: initial;
    font-size: $font-size-small;
  }
  > .btn-link:focus {
    outline: none;
  }
}

/**
 * Custom controls Bootstrap v4
 */
.custom-control {
  .form-row-radios &,
  .form-row-checkboxes & {
    display: block !important;
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 2 ;
    margin-left: $spacer; // @@rtl
  }
  ~ .help-block {
    margin-top: -2px;
    margin-left: $spacer + 10; // @@rtl
  }

  &-label {
    @extend label;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  /**
   * Custom control input
   */
  &-input {
    &:focus,
    &:focus ~ .custom-control-indicator {
      outline: none;
      box-shadow: none;
    }
    &:focus:not(:checked) ~ .custom-control-indicator {
      box-shadow: $custom-control-indicator-box-shadow;
    }
  }

  /**
   * Custom control indicator
   */
  &-indicator {
    top: 3px;
    // .has-success & {
    //   box-shadow: $custom-control-indicator-box-shadow--measures $brand-success !important;
    // }
    // .has-warning & {
    //   box-shadow: $custom-control-indicator-box-shadow--measures $brand-warning !important;
    // }
    .has-error & {
      box-shadow: $custom-control-indicator-box-shadow--measures $brand-danger !important;
    }
  }

  /**
   * Custom control description
   */
  &-description {
    font-weight: normal;
  }

}
