$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";
$slick-dot-size: 0;

@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

.slick {

  &-slide,
  &-slide div:focus,
  &-slide div:active {
    outline: none;
  }

  &-list {
    // gives space for box-shadow to show, bypassing the `overflow: hidden`
    // needed for the slider
    padding-bottom: $spacer !important;
  }

  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
}
