$icomoon-font-path: "fonts" !default;

$icon-calendar: "\f073";
$icon-truck: "\f0d1";
$icon-bell: "\f0f3";
$icon-lock: "\e90e";
$icon-mode_sieraden: "\e903";
$icon-huis_tuin: "\e904";
$icon-gadgets_elektronica: "\e909";
$icon-hobby_vrije_tijd: "\e90a";
$icon-beauty_verzorging: "\e90b";
$icon-baby_kinderen: "\e90c";
$icon-alles: "\e90d";
$icon-brand-facebook: "\e905";
$icon-brand-google-plus: "\e906";
$icon-brand-linkedin: "\e907";
$icon-brand-twitter: "\e908";
$icon-keyboard_arrow_up: "\e910";
$icon-keyboard_arrow_left: "\e912";
$icon-checkmark-thin: "\e911";
$icon-cross-thin: "\e90f";
$icon-keyboard_arrow_right: "\e900";
$icon-keyboard_arrow_down: "\e901";
$icon-search: "\e986";
$icon-hammer: "\e9a8";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-linkedin: "\eaca";
$icon-notice: "\e902";

