{% import 'layouts/macros.njk' as macros %}

{% extends '../_base.njk' %}

{% block body %}

  {% block header %}
    {{ macros.header(common) }}
  {% endblock %}

  <section class="appMain">
  {% block container %}
    {% include 'layouts/partials/misc-IEalert.njk' %}
    {% block content %}
    {% endblock %}
  {% endblock %}
  </section>

  {% block footer %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}
{% endblock %}
