{% macro header(common, btn='', support=true) %}
  <header class="appHeader navbar navbar-default navbar-fixed-top">
    <nav class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="if-collapsed">
            <span class="navbar-toggle-text">Menu</span>
            <svg class="icon"><use xlink:href="#icon-menu"></use></svg>
          </span>
          <span class="if-uncollapsed">
            <span class="navbar-toggle-text">Close</span>
            <svg class="icon"><use xlink:href="#icon-close"></use></svg>
          </span>
        </button>
        <a class="navbar-brand appLogo" href="index.html">Offerte.nl</a>
        {% if support %}
          <a class="navbar-link appHeader__support" href="tel:020-12345">Support: 020-12345</a>
        {% endif %}
        {% if btn %}
          <a class="navbar-btn btn btn-default hidden-xs" href="{{ btn.url }}">{{ btn.title }}</a>
        {% endif %}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-link appHeader__support" href="tel:020-12345">Support: 020-12345</a>
        <ul class="nav navbar-nav navbar-right">
          {% for item in common.menu %}
            <li><a href="{{ item.link }}">{{ item.title | safe }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
{% endmacro %}


{% macro list__features(data) %}
  <!-- Start macro: `list__features` -->
  <ul class="appList--features">
    {% for item in data %}
      <li><svg class="icon"><use xlink:href="#icon-check"></use></svg> {{ item | safe }}</li>
    {% endfor %}
  </ul>
  <!-- End macro: `list__features` -->
{% endmacro %}


{% macro content_row__howItWorks(data, bg='') %}
  <!-- Start macro: `content_row__howItWorks` -->
  <div class="content content--howItWorks{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h2 class="appTitle">{{ data.content.howItWorks.title }}</h2>
      </div>
      <div class="content__body row">
        {% for item in data.content.howItWorks.items %}
          <div class="col-sm-4 colMatchHeight">
            <img src="images/illustrations/{{ item.illustration }}" alt="{{ item.title }}" width="123" height="123">
            <h3>{{ item.title | safe }}</h3>
            <p>{{ item.content | safe }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__howItWorks` -->
{% endmacro %}


{% macro content_row__articles(data, bg='', smalltitle='From our blog', title='') %}
  <!-- Start macro: `content_row__articles` -->
  <div class="content content--articles{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        {% if smalltitle %}<h4 class="appSmalltitle">{{ smalltitle | safe }}</h4>{% endif %}
        {% if title %}<h2 class="appTitle">{{ title | safe }}</h2>{% endif %}
      </div>
      <div class="content__body row">
        {% for item in data.content.blogPreviews.slice(0,3) %}
          <div class="col-sm-6 col-md-4 colMatchHeight{% if loop.last %} visible-md visible-lg{% endif %}">
            {{ appBlog__preview(item) }}
          </div>
        {% endfor %}
      </div>
      <div class="content__footer text-center">
        <a class="btn btn-default" href="blog.html">View more</a>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__articles` -->
{% endmacro %}


{% macro content_row__popularCategories(data, bg='', title='') %}
  <!-- Start macro: `content_row__popularCategories` -->
  <div class="content content--popularCategories{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h3 class="appTitle">{% if title %}{{ title }}{% else %}{{ data.content.popularCategories.title | safe }}{% endif %}</h3>
      </div>
      <div class="content__body row">
        {% for item in data.content.popularCategories.items.slice(0,6) %}
          <a class="col-xs-6 col-sm-4 col-md-2" href="product.html">
            <span class="img-wrap">
              <img class="img-responsive img-circle" src="images/{{ item.img }}" width="165" height="165">
            </span>
            {{ item.link.title | safe }}
          </a>
        {% endfor %}
      </div>
      <div class="content__footer text-center">
        <a class="btn btn-default" href="category.html">View more</a>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__popularCategories` -->
{% endmacro %}


{% macro content_row__reviews(data, bg='') %}
  <!-- Start macro: `content_row__reviews` -->
  <div class="content content--reviews{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h2 class="appTitle">{{ data.content.reviews.title | safe }}</h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="content__body row appReview__slider appSlider">
        <div class="appSlider__main">
          {% for item in data.content.reviews.items %}
            <div class="col-md-4">
              <div class="appReview" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <meta itemprop="datePublished" content="2011-04-01">
                <div class="appReview__heading">
                  <div class="appReview__rating">
                    {{ appRating(item.rating) }}
                  </div>
                  <h4 class="appReview__name" itemprop="author">{{ item.name | safe }}</h4>
                </div>
                <p class="appReview__content">{{ item.content | safe }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="appSlider__arrows">
          <svg class="icon appSlider__prev"><use xlink:href="#icon-arrow-left"></use></svg>
          <svg class="icon appSlider__next"><use xlink:href="#icon-arrow-right"></use></svg>
        </div>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__reviews` -->
{% endmacro %}


{% macro content_row__partners(data, bg='') %}
  <!-- Start macro: `content_row__partners` -->
  <div class="content content--partners{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h4 class="appSmalltitle">{{ data.content.partners.smalltitle | safe }}</h4>
      </div>
    </div>
    <div class="container">
      <div class="content__body">
        <div class="appPartners__slider appSlider">
          <div class="appPartners appSlider__main">
          {% for item in data.content.partners.items %}
            <a class="appPartners__item" href="company-profile.html" title="{{ item.title | safe }}">
              {% if item.img %}<img src="{{ item.img }}" alt="{{ item.title | safe }}">{% endif %}
            </a>
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__partners` -->
{% endmacro %}


{% macro content_row__faq(data, bg='') %}
  <!-- Start macro: `content_row__faq` -->
  <div class="content content--faq{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h2 class="appTitle">{{ data.content.faq.title | safe }}</h2>
      </div>
      <div class="content__body">
        {{ appFaqs(data.content.faq.items) }}
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__faq` -->
{% endmacro %}


{% macro content_row__signup(data, bg='') %}
  <!-- Start macro: `content_row__signup` -->
  <div class="content content--signup{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="appBg--purples">
        <div class="content__header">
          <h3 class="appTitle">{{ data.content.signup.title | safe }}</h3>
        </div>
        <div class="content__body">
          <p>{{ data.content.signup.content | safe }}</p>
        </div>
        <div class="content__footer">
          <a class="btn btn-lg btn-warning" href="company-signup.html">{{ data.content.signup.link.title | safe }}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__signup` -->
{% endmacro %}


{% macro content_row__companies(data, bg='', title='') %}
  <!-- Start macro: `content_row__companies` -->
  <div class="content content--companies{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h3 class="appTitle">{% if title %}{{ title }}{% else %}You have been matched with the following comapanies{% endif %}</h3>
      </div>
      <div class="content__body row">
        {% for item in range(0, 5) %}
          <div class="col-sm-6 col-md-4 colMatchHeight">
            {{ appCompany__preview(item) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__companies` -->
{% endmacro %}


{% macro content_row__createRequest(data, bg='', title='') %}
  <!-- Start macro: `content_row__createRequest` -->
  <div id="create-request" class="content content--createRequest">
    <div class="container {% if bg %} appBg--{{ bg }}{% endif %}">
      <div class="content__header">
        <h1 class="appTitle">Create Your Request</h1>
      </div>
      <div class="content__body">
        <h4 class="text-light">This is a subhead about the benefits of create your request through Offerte.nl</h4>
        <form class="form" name="createRequest">
          <div class="form-group">
            <input class="form-control input-lg" type="text" name="createRequestName" placeholder="Input">
          </div>
          <div class="form-group">
            <input class="form-control input-lg" type="email" name="createRequestEmail" placeholder="your@email.com">
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__createRequest` -->
{% endmacro %}


{% macro content_row__support(data, bg='', title='') %}
  <!-- Start macro: `content_row__support` -->
  <div class="content content--support{% if bg %} appBg--{{ bg }}{% endif %}">
    <div class="container">
      <div class="content__header">
        <h2 class="appTitle">{% if title %}{{ title }}{% else %}Contact us for support{% endif %}</h2>
      </div>
      <div class="content__body row">
        <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 colMatchHeight">
          <img src="images/illustrations/phone.svg" width="76" height="63">
          <h3>Phone</h3>
          <p class="text-lightest">This should be copy about how we are quick to respond and/or available during the following hours.</p>
          <a href="tel:020-2102618" class="btn btn-md btn-default">020-2102618</a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-lg-offset-2 colMatchHeight">
          <img src="images/illustrations/mail.svg" width="76" height="65">
          <h3>Email</h3>
          <p class="text-lightest">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text</p>
          <a href="mailto:support@offerte.nl" class="btn btn-md btn-default">support@offerte.nl</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End macro: `content_row__support` -->
{% endmacro %}


{% macro appExcerpt(item, size='', demo_src=false) %}
  {% set img_src = 'images/banner-webdesign-full.png' if demo_src else '' %}
  {% set img_width = 555 if size == 'big' else 262 %}
  {% set img_height = 459 if size == 'big' else 180 %}
  {% set title_element = 'h1' if size == 'big' else 'h3' %}
  {% set content_length = 220 if size == 'big' else 65 %}

  <!-- Start macro: `appExcerpt` -->
  <div class="appExcerpt{% if size %} appExcerpt--{{ size }}{% endif %}">
    <a href="blog-article.html" class="appRatio__wrap">
      {% if img_src %}<img class="appRatio__inner" src="{{ img_src }}" width="{{ img_width }}" height="{{ img_height }}"></img>{% endif %}
    </a>
    <{{ title_element}} class="appExcerpt__title">
      <a href="blog-article.html">{{ 'This is the headline of the blog article' | truncate(50) }}</a>
    </{{ title_element}}>
    <p class="appExcerpt__content">{{ 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmark-sgrove right at the coast of the Semantics, a large language ocean.' | truncate(content_length) }}</p>
    <a href="blog-article.html" class="appExcerpt__link">Read more <svg class="icon"><use xlink:href="#icon-right"></use></svg></a>
  </div>
  <!-- End macro: `appExcerpt` -->
{% endmacro %}


{% macro appBlog__preview(item) %}
  <!-- Start macro: `appBlog__preview` -->
  <div class="appBlog__preview">
    <h3 class="appBlog__preview-title">{{ item.title | safe }}</h3>
    <p class="appBlog__preview-content">{{ item.content | safe }}</p>
    {% if item.link %}<a href="blog-article.html" class="appBlog__preview-link">{{ item.link.title | safe }} <svg class="icon"><use xlink:href="#icon-right"></use></svg></a>{% endif %}
  </div>
  <!-- End macro: `appBlog__preview` -->
{% endmacro %}


{% macro appCompany__preview(item) %}
  <!-- Start macro: `appCompany__preview` -->
  <div class="appCompany__preview">
    <div class="appCompany__card">
      <img class="appCompany__card-img" src="images/bg-company-signup.svg" width="120" height="64">
      <div class="appCompany__card-header">
        <div class="appCompany__card-rating">{{ appRating(5) }}</div>
        <h3 class="appCompany__card-title">Company name</h3>
      </div>
      <p class="appCompany__card-content">This is a description of the company and should highlight their specialisations.</p>
      <a href="company-profile.html" class="appCompany__card-link">View profile</a>
    </div>
  </div>
  <!-- End macro: `appCompany__preview` -->
{% endmacro %}


{% macro appCompany__review(rating=false) %}
  <!-- Start macro: `appCompany__review` -->
  <div class="appCompany__review" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="appCompany__review-header">
      {% if rating %}<div class="appCompany__review-rating">{{ appRating(5) }}</div>{% endif %}
      <h4 class="appCompany__review-name" itemprop="author">Customer N.</h4>
    </div>
    <div class="appCompany__review-content" itemprop="description">
      <p>Company Name</p>
      <p>This should be about the advantages of signing up with Offerte</p>
    </div>
  </div>
  <!-- End macro: `appCompany__review` -->
{% endmacro %}


{% macro appFaqs(data) %}
  <!-- Start macro: `appFaqs` -->
  <div class="appFaq row">
    <ul class="appFaq__list col-md-6">
      {% for item in data.slice(3) %}
        <li class="appFaq__item">
          {{ expandble(item, loop.index) }}
        </li>
      {% endfor %}
    </ul>
    <ul class="appFaq__list col-md-6">
      {% for item in data.slice(4,6) %}
        <li class="appFaq__item">
          {{ expandble(item, loop.index + 123) }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- End macro: `appFaqs` -->
{% endmacro %}


{% macro appRating(rating, scale=[1,2,3,4,5], reviews_number=false) %}
  <!-- Start macro: `appRating` -->
  <span class="appRating" title="Rating: {{ rating }}" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
    <span class="hidden" itemprop="ratingValue">{{ rating }}</span>
    <span class="hidden" itemprop="bestRating">{{ scale | last }}</span>
    {% for value in scale %}
      {% if value <= rating %}
      <svg class="icon"><use xlink:href="#icon-star"></use></svg>
      {% endif %}
    {% endfor %}
    {% if reviews_number %}
      <b class="appRating__text">{{ rating }}/{{ scale | last }} out of {{ reviews_number }} reviews</b>
    {% endif %}
  </span>
  <!-- End macro: `appRating` -->
{% endmacro %}


{% macro expandble(item, loopIndex, accordion_id='', extra_class='') %}
  <!-- Start macro: `expandble` -->
  <div class="appExpandable{% if extra_class %} {{ extra_class }}{% endif %}">
    <div class="appExpandable__header" data-toggle="collapse" data-target="#{{ faq.id | default('question') }}--{{ loopIndex }}" aria-expanded="false"{% if accordion_id %} data-parent="#{{ accordion_id }}"{% endif %}>
      <span class="appExpandable__toggle"><svg class="icon if-closed"><use xlink:href="#icon-plus"></use></svg><svg class="icon if-open"><use xlink:href="#icon-minus"></use></svg></span>
      <h4 class="appExpandable__heading">{{ item.question | safe }}</h4>
    </div>
    <div id="{{ faq.id | default('question') }}--{{ loopIndex }}" class="appExpandable__body collapse"><p>{{ item.answer | safe }}</p></div>
  </div>
  <!-- End macro: `expandble` -->
{% endmacro %}


{% macro appSteps(steps) %}
  <!-- Start macro: `appSteps` -->
  <nav class="appSteps">
    <ul class="appSteps__list">
      {% for step in steps %}
      <li class="appSteps__li">
        <!-- the `appSteps__link` has three states: no class, 'current', 'done' -->
        <a href="{{ step.url }}" class="appSteps__item{% if step.status %} {{ step.status }}{% endif %}">
          <svg class="icon"><use xlink:href="#icon-check"></use></svg> Step {{ loop.index }}:<span class="hidden-xs"> {{ step.title | safe }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <!-- End macro: `appSteps` -->
{% endmacro %}


{% macro appProfile__slider(images=[]) %}
  {% set images_list = images if images.length or range(17) %}
  <div id="appProfile__slider" class="appProfile__slider appSlider">
    <div id="appProfile__slider-main" class="appSlider__main">
      {% for image in images_list %}
        {{ appProfile__image(image) }}
      {% endfor %}
    </div>
    <div id="appProfile__slider-thumbs" class="appSlider__thumbs">
      {% for image in images_list %}
        {{ appProfile__image(image) }}
      {% endfor %}
    </div>
    <div class="appSlider__arrows">
      <svg class="icon appSlider__prev"><use xlink:href="#icon-arrow-left"></use></svg>
      <span class="appSlider__counter"></span>
      <svg class="icon appSlider__next"><use xlink:href="#icon-arrow-right"></use></svg>
    </div>
  </div>
{% endmacro %}


{% macro appProfile__image(src='') %}
  <div class="appRatio__wrap">
    <img class="appRatio__inner"{% if src and src != 'placeholder' %} src="images/{{ src }}"{% endif %}>
  </div>
{% endmacro %}


{% macro form__radios(name='radio', radios=[], label='') %}
  {% if label %}{{ form__radios_label(label) }}{% endif %}
  <div class="col-sm-6">
    {% for radio in radios %}
      {{ form__radio(name, radio.l, radio.v) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro form__radios_label(text='Radios label') %}
  <div class="col-sm-12">
    <div class="custom-control-label">{{ text }}</div>
  </div>
{% endmacro %}

{% macro form__radio(name='radio', text='Toggle', value='radioVal', required=false, help='', feedback=false, msg='') %}
  <div class="form-group{% if feedback %} has-feedback has-{{ feedback }}{% endif %}">
    <label class="custom-control custom-radio">
      <input class="custom-control-input" name="{{ name }}" type="radio" value="{{ value }}"{% if required %} required{% endif %}>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ text }}</span>
    </label>
    {{ form__help(help) }}
    {{ form__feedback('hidden', msg) }}
  </div>
{% endmacro %}

{% macro form__checkbox(name='checkbox', text='Toggle', value='checkboxVal', required=false, help='', feedback=false, msg='') %}
  <div class="form-group{% if feedback %} has-feedback has-{{ feedback }}{% endif %}">
    <label class="custom-control custom-checkbox">
      <input class="custom-control-input" name="{{ name }}" type="checkbox" value="{{ value }}"{% if required %} required{% endif %}>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">{{ text }}</span>
    </label>
    {{ form__help(help) }}
    {{ form__feedback('hidden', msg) }}
  </div>
{% endmacro %}

{% macro form__input(name='input', label='', placeholder='Placeholder', type='text', required=false, help='', feedback=false, msg='', rows='3') %}
  {% set id = name | capitalize %}
  <div class="form-group{% if feedback %} has-feedback has-{{ feedback }}{% endif %}">
    <label for="form{{ id }}">{% if label %}{{ label | safe }}{% else %}&nbsp;{% endif %}</label>
    {% if type === 'textarea' %}
      <textarea class="form-control" rows="{{ rows }}" placeholder="{{ placeholder }}" id="form{{ id }}"{% if required %} required{% endif %}></textarea>
    {% else %}
      <input class="form-control" type="{{ type }}" placeholder="{{ placeholder }}" id="form{{ id }}" name="{{ name }}"{% if required %} required{% endif %}></input>
    {% endif %}
    {{ form__help(help) }}
    {{ form__feedback(feedback, msg) }}
  </div>
{% endmacro %}

{% macro form__feedback(feedback='', msg='') %}
  {% if feedback != 'hidden' %}
    <span class="form-control-feedback" aria-hidden="true">
      <svg class="icon icon-error"><use xlink:href="#icon-error"></use></svg>
      <svg class="icon icon-warning"><use xlink:href="#icon-warning"></use></svg>
      <svg class="icon icon-success"><use xlink:href="#icon-success"></use></svg>
    </span>
  {% endif %}
  {% if msg %}<span class="help-feedback">{{ msg | safe }}</span>{% endif %}
{% endmacro %}

{% macro form__help(help='') %}
  {% if help %}<span class="help-block">{{ help | safe }}</span>{% endif %}
{% endmacro %}
