<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block meta_title %}Offerte{% block meta_title__post %}{% endblock %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="kuus <kunderikuus@gmail.com> (http://kunderikuus.net)">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <base href="/"><!-- for github deploy only -->
    {# Place favicon.ico in the root directory #}

    <!-- build:css styles/app.css inline-->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include 'layouts/partials/ui.icons.njk' %}

    {% block body %}
    {% endblock %}

    {% block body_scripts %}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> #}
    <!-- build:js scripts/vendor.js inline-->
    <!-- endbuild-->

    <!-- build:js scripts/app.js inline-->
    <script src="scripts/vendor.modernizr.js"></script>
    <!-- injectAppCustomVendors:js-->
    <script src="scripts/vendor.headroom.js"></script>
    <script src="scripts/vendor.jquery.0.js"></script>
    <script src="scripts/vendor.jquery.headroom.js"></script>
    <script src="scripts/vendor.jquery.matchHeight.js"></script>
    <script src="scripts/vendor.jquery.slick-carousel.js"></script>
    <script src="scripts/vendor.jquery.validate.aa.js"></script>
    <script src="scripts/vendor.jquery.validate.additional-methods.js"></script>
    <!-- endinject-->
    <script src="scripts/app.js"></script>
    <!-- endbuild-->
    {% endblock %}

    {% block body_end %}
    {% endblock %}
  </body>
</html>