{% extends 'layouts/default.njk' %}

{% block body_class %}page page--blog-article{% endblock %}

{% block header %}
  {{ macros.header(common, btn={title:'Create request', url: 'request-quote--1.html'}, support=false) }}
{% endblock %}

{% block content %}
  <div class="content content--blogArticle">
    <div class="container">
      <a class="appLinkback" href="blog.html">View all articles</a>
      <article class="appArticle">
        <h1 class="text-center">This is the headline of the article and can be on several lines</h1>
        <img class="img-responsive" src="images/banner-requestquote.png" width="1140" height="600">
        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
        <p class="text-display">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.  Far far away, behind the word mountains. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <hr>
        <ol class="list-unstyled">
          <li>
            <h6>Item one</h6>
            <p class="text-light">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
          </li>
          <li>
            <h6>Item two</h6>
            <p class="text-light">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
          </li>
          <li>
            <h6>Item three</h6>
            <p class="text-light">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
          </li>
        </ol>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h3>
          </div>
          <div class="col-sm-6">
            <p class="text-display">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmark-sgrove right at the coast of the Semantics, a large language ocean.  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
          </div>
        </div>
        <img class="img-responsive" src="images/banner-webdesign-full.png" width="1140" height="600">
        <p class="text-display">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.  Far far away, behind the word mountains.</p>
        <table class="table">
          <thead>
            <tr>
              <th>Header Cell</th>
              <th>Header Cell</th>
              <th>Header Cell</th>
              <th>Header Cell</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Value</td>
              <td>Value</td>
              <td>Value</td>
              <td>Value</td>
            </tr>
            <tr>
              <td>Value</td>
              <td>Value</td>
              <td>Value</td>
              <td>Value</td>
            </tr>
            <tr>
              <td>Value</td>
              <td>Value</td>
              <td>Value</td>
              <td>Value</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </div>
  {{ macros.content_row__createRequest(common, bg='light') }}
  {{ macros.content_row__articles(common, bg='lightest', title='', smalltitle='Relatd articles') }}
{% endblock %}
