{% extends 'layouts/default.njk' %}

{% block body_class %}page page--blog{% endblock %}

{% block header %}
  {{ macros.header(common, btn={title:'Create request', url: 'request-quote--1.html'}, support=false) }}
{% endblock %}

{% block content %}
  <div class="content content--blog">
    <div class="container">
      <h1 class="appTitle">Blog <a href="blog.html" class="appBlog__linkfilter">Filter by profession <svg class="icon"><use xlink:href="#icon-right"></use></svg></a></h1>
      <div class="row">
        <div class="col-sm-7 col-lg-6">
          {{ macros.appExcerpt(size='big') }}
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-lg-6 col-lg-offset-0">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              {{ macros.appExcerpt() }}
            </div>
            <div class="col-lg-6 visible-lg-block">
              {{ macros.appExcerpt() }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              {{ macros.appExcerpt(demo_src=true) }}
            </div>
            <div class="col-lg-6 visible-lg-block">
              {{ macros.appExcerpt() }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-3">
          {{ macros.appExcerpt() }}
        </div>
        <div class="col-sm-4 col-lg-3">
          {{ macros.appExcerpt(demo_src=true) }}
        </div>
        <div class="col-sm-4 col-lg-3">
          {{ macros.appExcerpt() }}
        </div>
        <div class="col-lg-3 visible-lg-block">
          {{ macros.appExcerpt() }}
        </div>
      </div>
      <div class="content__footer">
        <button class="btn btn-wide btn-default btn-block-xs">Load more</button>
      </div>
    </div>
  </div>
{% endblock %}
