{% extends 'layouts/default.njk' %}

{% block body_class %}page page--category{% endblock %}

{% block header %}
  {{ macros.header(common, btn={title:'Create request', url: 'request-quote--1.html'}, support=false) }}
{% endblock %}

{% block content %}
  <div class="content content--categories">
    <div class="container">
      <h1 class="appTitle">Categories</h1>
      {% for group in common.categories %}
        <div class="row appCategory__rowtitle">
          <div class="col-xs-12">
            <h2 class="appSmalltitle">{{ group.title | safe }}</h2>
          </div>
        </div>
        <div class="row appCategory__rowlinks">
          {% for link in group.links %}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a class="appCategory__link" href="index.html">{{ link | safe }}</a>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  {{ macros.content_row__createRequest(common, bg='light') }}
{% endblock %}
