{% extends 'layouts/default.njk' %}

{% block body_class %}page page--company-signup{% endblock %}

{% block content %}
  <div class="content content__bg content__bg--xs appBg--light appCompany__signup" style="background-image: url(images/company-background.png);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 appCompany__signup-colform">
          <div class="appCard appBg--lightest">
            <h1 class="appTitle">Company Signup Headline goes here</h1>
            <h2 class="appSubtitle h4">This is the company signup subhead</h2>
            <form class="row form" name="companySignup">
              <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                  <label for="companySignupName">Name</label>
                  <input class="form-control" type="text" id="companySignupName" name="companySignupName" placeholder="Input">
                </div>
                <div class="form-group">
                  <label for="companySignupEmail">Email</label>
                  <input class="form-control" type="email" id="companySignupEmail" name="companySignupEmail" placeholder="your@email.com">
                </div>
                <div class="form-group">
                  <label for="companySignupCompany">Company name</label>
                  <input class="form-control" type="text" id="companySignupCompany" name="companySignupCompany" placeholder="Input">
                </div>
                <div class="form-group">
                  <label for="companySignupUrl">Company URL</label>
                  <input class="form-control" type="text" id="companySignupUrl" name="companySignupUrl" placeholder="https://yourcompany.com">
                </div>
                <div class="form-group">
                  <label for="companySignupCountry">Select country</label>
                  <select id="companySignupCountry" class="form-control">
                    <option>Netherlands</option>
                    <option>Italy</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Check this custom checkbox</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="custom-control custom-radio">
                    <input id="radio1" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Toggle this custom radio</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="radio2" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Or toggle this other custom radio</span>
                  </label>
                </div>
                <div class="form-group">
                  <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 appCompany__signup-colreviews">
          {{ macros.appCompany__review() }}
          {{ macros.appCompany__review() }}
        </div>
      </div>
    </div>
    <div class="container-fluid appCompany__signup-reviewsslider appSlider">
      <div class="row appSlider__main">
        {{ macros.appCompany__review() }}
        {{ macros.appCompany__review() }}
        {{ macros.appCompany__review() }}
        {{ macros.appCompany__review() }}
      </div>
      <div class="appSlider__arrows">
        <svg class="icon appSlider__prev"><use xlink:href="#icon-arrow-left"></use></svg>
        <svg class="icon appSlider__next"><use xlink:href="#icon-arrow-right"></use></svg>
      </div>
    </div>
  </div>
  {{ macros.content_row__support(common) }}
{% endblock %}
