{% extends 'layouts/default.njk' %}

{% block body_class %}page page--company-profile{% endblock %}

{% block content %}
  <article class="content content--company appProfile" itemscope itemtype="http://schema.org/Brand">
    <div class="container">
      <a class="appLinkback" href="javascript:void(0)" onclick="window.history.go(-1);return false;">Back</a>
      <div class="row">
        <div class="col-sm-7 col-md-6 col-lg-5">
          <h1 class="appProfile__title appTitle" itemprop="name">ABC Company Name</h1>
          <p class="appProfile__meta">
            <span class="appProfile__meta-since">Since 2001</span>
            <span class="appProfile__meta-where">Amsterdam, NL</span>
          </p>
          <div class="appProfile__rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            {{ macros.appRating(5, reviews_number=9) }}
          </div>
          <div class="appProfile__about">
            <h2 class="appSmalltitle">About</h2>
            <p class="text-light">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar</p>
          </div>
          <div class="appProfile__contact">
            <h2 class="appSmalltitle">Contact Info</h2>
            <div class="appProfile__contact-phone">
              <span>Phone:</span> <strong>First value</strong>
            </div>
            <div class="appProfile__contact-email">
              <span>Email:</span> <strong><a href="mailto:mail@mail.com">mail@mail.com</a></strong>
            </div>
            <div class="appProfile__contact-website">
              <span>Website:</span> <strong><a href="https://google.com" target="_blank">google.com</a></strong>
            </div>
          </div>
          <div class="appProfile__review">
            <p>Have you worked with this company before?</p>
            <a href="company-profile.html" class="btn btn-wide btn-primary">Write a review</a>
          </div>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-6 col-lg-offset-1">
          {{ macros.appProfile__slider(['company-background.png', 'placeholder', 'placeholder', 'placeholder', 'placeholder', 'placeholder', 'placeholder', 'placeholder']) }}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
