{% extends 'layouts/default.njk' %}

{% block body_class %}page page--home{% endblock %}

{% block content %}
  <div class="content content__bg content--banner" style="background-image: url(images/banner-webdesign-full.png);">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 content__header">
          <h1 class="appTitle">Bespaar tot 40% in 3 minuten</h1>
          <h2 class="appSubtitle h4">Van uw huis schilderen tot een nieuwe website laten maken</h2>
        </div>
        <div class="col-sm-10 col-sm-offset-1 content__body">
          <form class="appSearch" name="appSearch">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Wat voor dienst heb je nodig?">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Begin nu</button>
              </span>
            </div>
            <div class="appSearch__links">
              <a href="#">Popular Search 1</a><a href="#">Popular Search 2</a><a href="#">Popular Search 3</a>
            </div>
          </form>
        </div>
        <div class="col-sm-12 hidden-xs">
          {{ macros.list__features(common.content.features) }}
        </div>
      </div>
    </div>
  </div>
  {{ macros.content_row__howItWorks(common, bg='light') }}
  {{ macros.content_row__articles(common, bg='lightest', title='Tips & Inspiration') }}
  {{ macros.content_row__popularCategories(common, bg='lightest') }}
  {{ macros.content_row__reviews(common, bg='light') }}
  {{ macros.content_row__partners(common, bg='light') }}
  {{ macros.content_row__faq(common) }}
  {{ macros.content_row__signup(common, bg='lightest') }}
{% endblock %}
