{% extends 'layouts/default.njk' %}

{% block body_class %}page page--product{% endblock %}

{% block content %}
  <div class="content content__bg content--banner appProduct" style="background-image: url(images/banner-webdesign-full.png);">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 content__header">
          <h1 class="appTitle">Vergelijk webdesigners in uw regio</h1>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 content__body">
          <form class="appSearch" name="appSearch">
            <h3 class="appSubtitle">Bespaar tot 40% in 3 minuten</h3>
            <a class="btn btn-lg btn-block btn-primary">Call to action goes here</a>
            {{ macros.list__features(common.content.features.slice(0,2)) }}
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ macros.content_row__partners(common, bg='light') }}
  {{ macros.content_row__reviews(common, bg='light') }}
  {{ macros.content_row__howItWorks(common, bg='light') }}
  <div class="content content--product1 appBg--lightest">
    <div class="container">
      <div class="row content__body content__plain content__plain--lightext">
        <div class="col-sm-10 col-md-6">
          <h1>Webdesign offertes vergelijken</h1>
          <p>U heeft de keus gemaakt om uw huidige website een nieuw design te geven, of u gaat een nieuwe website opzetten en wilt dit op een professionele manier aanpakken. Dan heeft u de juiste keus gemaakt! U hoeft maar in Google op webdesigner te zoeken en u zult een overvloed van webdesign bureaus tegenkomen die een website voor u kunnen ontwerpen.</p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <h4>Vergelijken</h4>
              <p>Er gaat heel veel tijd in zitten om al deze partijen met elkaar te vergelijken. Bij Offerte.nl zijn we ons hier bewust van en wij bieden u daarom de ideale oplossing voor dit probleem. Wij doen het werk voor u, zodat u de tijd aan andere zaken kunt besteden. u hoeft bij ons maar 1 keer aan te geven wat voor website u wilt laten maken en wat het doel van uw website is. </p>
            </div>
            <div class="col-sm-6 col-md-12">
              <h4>Offerte</h4>
              <p>Wij sturen uw wensen dan door aan diverse webdesigners en zij zullen een offerte opstellen. U krijgt van ons maximaal 5 offertes per aanvraag. Het enige wat u nog hoeft te doen is de diverse webdesigner offertes vergelijken en uw keus maken. Deze offertes zijn geheel vrijblijvend, dus mocht er onverhoopt echt niks voor u tussen zitten, zit u nergens aan vast.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ macros.content_row__articles(common, bg='lightest', title='Tips & Inspiration') }}
  {{ macros.content_row__faq(common, bg='lightest') }}
  {{ macros.content_row__popularCategories(common, bg='lightest') }}
  <div class="content content--product1 appBg--lightest">
    <div class="container">
      <div class="row content__body content__plain">
        <div class="col-md-6 font-size-h4">
          <h3>Hoe kan ik een goede website bouwen?</h3>
          <p>Voor het bouwen van een goede professionele website moet u enkele stappen doorlopen.</p>
          <div><strong>Step 1:</strong></div>
          <p>Bepaal de doelgroep en het doel van uw website</p>
          <div><strong>Step 2:</strong></div>
          <p>Kies de gewenste domeinnaam</p>
          <div><strong>Step 3:</strong></div>
          <p>Laat uw website ontwerpen en bouwen</p>
          <div><strong>Step 4:</strong></div>
          <p>Zorg voor content</p>
        </div>
        <div class="col-md-6">
          <h4>Hoe kan ik webdesign offertes aanvragen?</h4>
          <p>U kunt uw webdesign offerte simpel en snel aanvragen via ons aanvraagformulier. Het aanvragen van offerte is bij ons geheel gratis en vrijblijvend. Wij werken samen met professionele webdesigners, die hun uiterste best doen om u een passende offerte voor te leggen. Mocht er onverhoopt geen offerte bij zitten die aan uw wensen voldoet, zit u helemaal nergens aan vast.</p>
          <h4>Wat kost het maken van een website?</h4>
          <p>U heeft besloten dat er een website moet komen, maar wat zijn nou de kosten van het maken van een website? Het is niet mogelijk om een standaardbedrag te noemen. Er zijn diverse factoren van invloed op de prijs van een website. Gaat het om een kleine site met 5 pagina’s of wordt het een grote site met duizenden pagina’s? Moet er wel of geen webshop bij? Dit zijn onderdelen die geld kosten bij het bouwen en onderhouden van een website:</p>
          <ul>
            <li>Ontwerpen</li>
            <li>Bouwen</li>
            <li>Webhosting</li>
            <li>Aanschaf domeinnaam</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ macros.content_row__signup(common, bg='lightest') }}
{% endblock %}
