{% extends 'layouts/default.njk' %}

{% block body_class %}page page--light page--requestquote{% endblock %}

{% block content %}
  <div class="page__header" style="background-image: url(images/banner-requestquote.png);">
    <div class="container">
      <h1 class="appTitle">Betrouwbare webdesigner offertes ontvangen</h1>
    </div>
  </div>
  <article class="content appRequestquote">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 page__header-overlap appRequestquote__col-form">
          <div class="appCard appCard--shadow appBg--lightest">
            {{ macros.appSteps([{
              title: 'Your request',
              url: 'request-quote--1.html',
              status: 'current'
            }, {
              title: 'Contact Information',
              url: 'request-quote--2.html'
            }]) }}
            <form class="form form-validate" name="requestQuote1">
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Soor uitvaart:') }}
                <div class="col-sm-6">{{ macros.form__radio('uitvaart', 'Begrafenis') }}</div>
                <div class="col-sm-6">{{ macros.form__radio('uitvaart', 'Crematie') }}</div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Indicatie periode van overlijden:') }}
                <div class="col-sm-6">
                  {{ macros.form__radio('periode', 'Verwacht binnen 3-4 maanden') }}
                  {{ macros.form__radio('periode', 'Verwacht tussen 5 to 12 maanden') }}
                </div>
                <div class="col-sm-6">
                  {{ macros.form__radio('periode', 'Reeds overleden (spoed)') }}
                  {{ macros.form__radio('periode', 'De komende jaar nog niet aan de orde') }}
                </div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Hoeveel mensen verwacht u?:') }}
                <div class="col-sm-6">
                  {{ macros.form__radio('mensen', 'Minder dan 25') }}
                  {{ macros.form__radio('mensen', '25 - 50') }}
                </div>
                <div class="col-sm-6">
                  {{ macros.form__radio('mensen', '50 - 100') }}
                  {{ macros.form__radio('mensen', 'Meer dan 100') }}
                </div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Locatie van de opbarding:') }}
                <div class="col-sm-6">
                  {{ macros.form__radio('locatie', 'Thuis') }}
                  {{ macros.form__radio('locatie', 'Niet opbaren') }}
                </div>
                <div class="col-sm-6">
                  {{ macros.form__radio('locatie', 'In uitvaartcentrum') }}
                  {{ macros.form__radio('locatie', 'Weet ik (nog) niet') }}
                </div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Sort kist:') }}
                <div class="col-sm-6">
                  {{ macros.form__radio('kist', 'Draagplant en wade') }}
                  {{ macros.form__radio('kist', 'Luxe kist') }}
                </div>
                <div class="col-sm-6">
                  {{ macros.form__radio('kist', 'Basis kist') }}
                  {{ macros.form__radio('kist', 'De kist regelen wij zelf') }}
                </div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Rouwkaarten:') }}
                <div class="col-sm-6">{{ macros.form__radio('rouwkaarten', 'Jaa') }}</div>
                <div class="col-sm-6">{{ macros.form__radio('rouwkaarten', 'Nee') }}</div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Aansluitende koffietafel:') }}
                <div class="col-xs-12">{{ macros.form__radio('koffietafel', 'Nee') }}</div>
                <div class="col-xs-12">{{ macros.form__radio('koffietafel', 'Koffie en cake') }}</div>
                <div class="col-xs-12">{{ macros.form__radio('koffietafel', 'Borrelhapjes en drankjes') }}</div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Bloemarrangement:') }}
                <div class="col-sm-4">{{ macros.form__radio('bloemarrangement', 'Nee') }}</div>
                <div class="col-sm-4">{{ macros.form__radio('bloemarrangement', 'Budget') }}</div>
                <div class="col-sm-4">{{ macros.form__radio('bloemarrangement', 'Luxe') }}</div>
              </div>
              <div class="row form-row-chekboxes">
                {{ macros.form__radios_label('Overlijdensadvertenties:') }}
                <div class="col-sm-6">{{ macros.form__checkbox('In regionaal dagblad') }}</div>
                <div class="col-sm-6">{{ macros.form__checkbox('In landelijk dagblad') }}</div>
              </div>
              <div class="row">
                <div class="col-xs-12 form-group">
                  <label>Omschrijving:</label>
                  <textarea class="form-control" rows="3" placeholder="Input"></textarea>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Continue to step 2</button>
              </div>
            </form>
          </div>
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-4 appRequestquote__col-aside">
          {{ macros.list__features(common.content.features) }}
          {{ macros.appCompany__review(rating=5) }}
          {{ macros.appCompany__review(rating=4) }}
          {{ macros.appCompany__review(rating=5) }}
        </aside>
      </div>
    </div>
  </article>
  {{ macros.content_row__support(common) }}
{% endblock %}
