{% extends 'layouts/default.njk' %}

{% block body_class %}page page--light page--requestquote{% endblock %}

{% block content %}
  <div class="page__header" style="background-image: url(images/banner-requestquote.png);">
    <div class="container">
      <h1 class="appTitle">Betrouwbare webdesigner offertes ontvangen</h1>
    </div>
  </div>
  <article class="content appRequestquote">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 page__header-overlap appRequestquote__col-form">
          <div class="appCard appCard--shadow appBg--lightest">
            {{ macros.appSteps([{
              title: 'Your request',
              url: 'request-quote--1.html',
              status: 'done'
            }, {
              title: 'Contact Information',
              url: 'request-quote--2.html',
              status: 'current'
            }]) }}
            <form class="form form-validate" name="requestQuote1">
              <div class="row">
                <div class="col-sm-6">
                  {{ macros.form__input('voornam', 'Name', 'Voornam', help='Did you mean mail@mail.com? <a href="#">Yes</a>, <button class="btn btn-link">No</button>') }}
                </div>
                <div class="col-sm-6">{{ macros.form__input('achternaam', '', 'Achternaam', feedback='success', msg='Some message', required=true) }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">{{ macros.form__input('email', 'Email', 'mail@mail.com', 'email', feedback='error', msg='Some message', required=true) }}</div>
                <div class="col-sm-6">{{ macros.form__input('phone', 'Phone', '06-11223344', 'tel', feedback='warning', msg='Some message', required=true) }}</div>
              </div>
              <div class="row">
                <div class="col-sm-4">{{ macros.form__input('postcode', 'Post code', 'Post code') }}</div>
                <div class="col-sm-8">{{ macros.form__input('huisnummer', 'Huisnummer', '139') }}</div>
              </div>
              <div class="row">
                <div class="col-sm-6">{{ macros.form__input('straat', 'Straat', 'Julius Pergerstraat') }}</div>
                <div class="col-sm-6">{{ macros.form__input('woonplaats', 'Woonplaats', 'Amsterdam') }}</div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Additional info') }}
                <div class="col-xs-6">{{ macros.form__radio('additional', 'Jaa') }}</div>
                <div class="col-xs-6">{{ macros.form__radio('additional', 'Nee') }}</div>
              </div>
              <div class="row form-row-radios">
                {{ macros.form__radios_label('Feedback radio example') }}
                <div class="col-xs-6">{{ macros.form__radio('rSample', '1', required=true) }}</div>
                <div class="col-xs-6">{{ macros.form__radio('rSample', '10', required=true, help='Some help text') }}</div>
              </div>
              <div class="row form-row-checkboxes">
                {{ macros.form__radios_label('Overlijdensadvertenties:') }}
                <div class="col-sm-6">{{ macros.form__checkbox('advertenties1', 'In regionaal dagblad') }}</div>
                <div class="col-sm-6">{{ macros.form__checkbox('advertenties2', 'In landelijk dagblad') }}</div>
              </div>
              <div class="row form-row-checkboxes">
                {{ macros.form__radios_label('Checkboxes with feedback:') }}
                <div class="col-sm-6">{{ macros.form__checkbox('cSample1', 'Enable this', required=true, help='Some help text') }}</div>
                <div class="col-sm-6">{{ macros.form__checkbox('cSample2', 'Accept some stuff', required=true, feedback='error', msg='This must be checked') }}</div>
              </div>
              <div class="row">
                <div class="col-xs-12">{{ macros.form__input('omschrijving', 'Omschrijving', 'Input', type='textarea') }}</div>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send request</button>
              </div>
            </form>
          </div>
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-4 appRequestquote__col-aside">
          {{ macros.list__features(common.content.features) }}
          {{ macros.appCompany__review(rating=5) }}
          {{ macros.appCompany__review(rating=4) }}
          {{ macros.appCompany__review(rating=5) }}
        </aside>
      </div>
    </div>
  </article>
  {{ macros.content_row__support(common) }}
{% endblock %}
