{% extends 'layouts/default.njk' %}

{% block body_class %}page page--success-1a{% endblock %}

{% block content %}
  <div class="content content--fatMessage content--bordered">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 content__header">
          <h1 class="appTitle">Your request has been received.</h1>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="content__body appBg--light">
            <img src="images/illustrations/speech.svg" width="128" height="128">
            <p>We are contacting the best companies that match your request.  You will receive an email shortly with your quotes for you to review.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ macros.content_row__popularCategories(common, bg='lightest', title='Explore our other services') }}
{% endblock %}
