{% extends 'layouts/default.njk' %}

{% block body_class %}page page--success-1b{% endblock %}

{% block content %}
  <div class="content content--fatMessage">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 content__header">
          <h1 class="appTitle">Your request has been received.</h1>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="content__body appBg--light">
            <img src="images/illustrations/mail.svg" width="128" height="128">
            <p>We have matched you with the best companies to fill your request.  You will receive an email shortly with your quotes from the following companies.</p>
            <div class="text-muted"><small>Didn’t receive an email? Please check your spam folder.</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ macros.content_row__companies(common, bg='lightest') }}
  {{ macros.content_row__popularCategories(common, bg='lightest', title='Popular categories') }}
{% endblock %}
