<footer class="appFooter container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <h4><a class="appLogo appLogo--white" href="index.html">Offerte.nl</a></h4>
          <ul class="appFooter__links">
            {% for page in common.footer.pages %}
            <li class="appFooter__item">
              <a class="appFooter__link" href="{{ page.link }}">{{ page.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="appFooter__copy">&copy; <span id="js-copyyear">2016</span> {{ common.footer.copy }}</div>
        </div>
      </div>
  </div>
  </div>
</footer>