<!-- SVG iconset: start -->
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-error" viewBox="0 0 32 32">
<title>error</title>
<path fill="#f74a4a" style="fill: var(--color1, #f74a4a)" d="M20.316 16l10.79 10.79c1.192 1.192 1.192 3.124 0 4.316s-3.124 1.192-4.316 0l-10.79-10.79-10.79 10.79c-1.192 1.192-3.124 1.192-4.316 0s-1.192-3.124 0-4.316l10.79-10.79-10.79-10.79c-1.192-1.192-1.192-3.124 0-4.316s3.124-1.192 4.316 0l10.79 10.79 10.79-10.79c1.192-1.192 3.124-1.192 4.316 0s1.192 3.124 0 4.316l-10.79 10.79z"></path>
</symbol>
<symbol id="icon-warning" viewBox="0 0 32 32">
<title>warning</title>
<path fill="#ffce52" style="fill: var(--color2, #ffce52)" d="M17.835 4.007l13.823 21.642c0.647 1.013 0.35 2.36-0.663 3.007-0.35 0.224-0.757 0.342-1.172 0.342h-27.645c-1.203 0-2.177-0.975-2.177-2.177 0-0.415 0.119-0.822 0.342-1.172l13.822-21.642c0.647-1.013 1.994-1.31 3.007-0.663 0.267 0.17 0.493 0.396 0.663 0.663z"></path>
<path fill="#1c1b1b" style="fill: var(--color3, #1c1b1b)" d="M14.432 14.856l-0.118-2.9h3.371l-0.118 2.9-0.47 5.448h-2.195l-0.47-5.448zM14.040 23.283c0-0.575 0.183-1.058 0.549-1.45s0.836-0.588 1.411-0.588c0.575 0 1.045 0.196 1.411 0.588s0.549 0.875 0.549 1.45c0 0.575-0.183 1.058-0.549 1.45s-0.836 0.588-1.411 0.588c-0.575 0-1.045-0.196-1.411-0.588s-0.549-0.875-0.549-1.45z"></path>
</symbol>
<symbol id="icon-success" viewBox="0 0 32 32">
<title>success</title>
<path fill="#45d692" style="fill: var(--color4, #45d692)" d="M10.869 22.597l17.592-17.592c0.81-0.81 2.122-0.81 2.932 0s0.81 2.122 0 2.932l-19.058 19.058c-0.81 0.81-2.122 0.81-2.932 0l-8.796-8.796c-0.81-0.81-0.81-2.122 0-2.932s2.122-0.81 2.932 0l7.33 7.33z"></path>
</symbol>
<symbol id="icon-close" viewBox="0 0 32 32">
<title>close</title>
<path d="M30 4.819l-11.181 11.181 11.181 11.181-2.819 2.819-11.181-11.181-11.181 11.181-2.819-2.819 11.181-11.181-11.181-11.181 2.819-2.819 11.181 11.181 11.181-11.181z"></path>
</symbol>
<symbol id="icon-check" viewBox="0 0 32 32">
<title>check</title>
<path d="M31.467 4.089c-0.711-0.711-1.778-0.711-2.489 0l-18.311 18.311-7.644-7.644c-0.711-0.711-1.778-0.711-2.489 0s-0.711 1.778 0 2.489l8.889 8.889c0.356 0.356 0.711 0.533 1.244 0.533s0.889-0.178 1.244-0.533l19.556-19.556c0.711-0.711 0.711-1.778 0-2.489z"></path>
</symbol>
<symbol id="icon-arrow-right" viewBox="0 0 32 32">
<title>arrow-right</title>
<path d="M28.966 16.876h-28.090c-0.484 0-0.876-0.392-0.876-0.876s0.392-0.876 0.876-0.876h28.090l-6.601-6.601c-0.342-0.342-0.342-0.897 0-1.239s0.897-0.342 1.239 0l7.871 7.871c0.097 0.043 0.189 0.104 0.268 0.183 0.182 0.182 0.267 0.424 0.256 0.662 0.011 0.238-0.074 0.48-0.256 0.662-0.080 0.080-0.171 0.141-0.268 0.183l-7.871 7.871c-0.342 0.342-0.897 0.342-1.239 0s-0.342-0.897 0-1.239l6.601-6.601z"></path>
</symbol>
<symbol id="icon-arrow-left" viewBox="0 0 32 32">
<title>arrow-left</title>
<path d="M3.034 16.876h28.090c0.484 0 0.876-0.392 0.876-0.876s-0.392-0.876-0.876-0.876h-28.090l6.601-6.601c0.342-0.342 0.342-0.897 0-1.239s-0.897-0.342-1.239 0l-7.871 7.871c-0.097 0.043-0.189 0.104-0.268 0.183-0.182 0.182-0.267 0.424-0.256 0.662-0.011 0.238 0.074 0.48 0.256 0.662 0.080 0.080 0.171 0.141 0.268 0.183l7.871 7.871c0.342 0.342 0.897 0.342 1.239 0s0.342-0.897 0-1.239l-6.601-6.601z"></path>
</symbol>
<symbol id="icon-menu" viewBox="0 0 32 32">
<title>menu</title>
<path d="M2 6h28c1.105 0 2 0.895 2 2s-0.895 2-2 2h-28c-1.105 0-2-0.895-2-2s0.895-2 2-2zM2 14h28c1.105 0 2 0.895 2 2s-0.895 2-2 2h-28c-1.105 0-2-0.895-2-2s0.895-2 2-2zM2 22h28c1.105 0 2 0.895 2 2s-0.895 2-2 2h-28c-1.105 0-2-0.895-2-2s0.895-2 2-2z"></path>
</symbol>
<symbol id="icon-star" viewBox="0 0 32 32">
<title>star</title>
<path fill="#ffce52" style="fill: var(--color2, #ffce52)" d="M17.015 0.762l3.048 9.888c0.143 0.461 0.552 0.822 1.014 0.822h9.854c1.034 0 1.464 1.34 0.625 1.977l-7.966 6.029c-0.375 0.284-0.532 0.778-0.39 1.241l3.045 9.814c0.32 1.032-0.806 1.887-1.643 1.249l-7.976-6.085c-0.374-0.285-0.88-0.286-1.254-0.002l-7.976 6.077c-0.837 0.637-1.962-0.221-1.642-1.253l3.045-9.811c0.144-0.462-0.014-0.968-0.389-1.253l-7.967-6.006c-0.838-0.636-0.409-1.977 0.625-1.977h9.854c0.463 0 0.872-0.361 1.015-0.822l3.047-9.864c0.32-1.031 1.711-1.055 2.030-0.024z"></path>
</symbol>
<symbol id="icon-plus" viewBox="0 0 32 32">
<title>plus</title>
<path d="M17.067 14.933h3.2c0.589 0 1.067 0.478 1.067 1.067s-0.478 1.067-1.067 1.067h-3.2v3.2c0 0.589-0.478 1.067-1.067 1.067s-1.067-0.478-1.067-1.067v-3.2h-3.2c-0.589 0-1.067-0.478-1.067-1.067s0.478-1.067 1.067-1.067h3.2v-3.2c0-0.589 0.478-1.067 1.067-1.067s1.067 0.478 1.067 1.067v3.2zM16 0c8.822 0 16 7.178 16 16s-7.178 16-16 16-16-7.179-16-16c0-8.822 7.178-16 16-16zM16 30.658c8.082 0 14.658-6.576 14.658-14.658s-6.576-14.659-14.658-14.659-14.658 6.575-14.658 14.659c0 8.082 6.575 14.658 14.658 14.658z"></path>
</symbol>
<symbol id="icon-minus" viewBox="0 0 32 32">
<title>minus</title>
<path fill="#cfccce" style="fill: var(--color5, #cfccce)" d="M27.319 4.694c6.241 6.241 6.241 16.397 0 22.638s-16.397 6.241-22.638 0-6.241-16.398 0-22.638c6.241-6.241 16.397-6.241 22.638 0zM5.63 26.383c5.718 5.718 15.022 5.718 20.739 0s5.719-15.022 0.001-20.74-15.022-5.718-20.74 0.001c-5.718 5.718-5.718 15.022 0 20.739zM11.331 17.081c-0.368 0-0.667-0.299-0.667-0.667v-0.8c0-0.368 0.299-0.667 0.667-0.667h9.338c0.368 0 0.667 0.299 0.667 0.667v0.8c0 0.368-0.299 0.667-0.667 0.667h-9.338z"></path>
</symbol>
<symbol id="icon-right" viewBox="0 0 32 32">
<title>right</title>
<path d="M23.509 17.322c0.654-0.73 0.654-1.914 0-2.645l-12.896-14.404c-0.327-0.365-0.857-0.365-1.184 0l-1.184 1.322c-0.327 0.365-0.327 0.957 0 1.322l11.121 12.42c0.327 0.365 0.327 0.958 0 1.322l-11.121 12.421c-0.327 0.365-0.327 0.957 0 1.322l1.184 1.322c0.327 0.365 0.857 0.365 1.184 0l12.896-14.404z"></path>
</symbol>
</defs>
</svg>
<!-- SVG iconset: end -->
